


.active * {
  color: white !important;
}

nav a:hover {
  color: white !important;
}


table, table td {
    text-align: center !important;
    vertical-align: middle !important;
}

#history {
    font-size: small;
}

thead {
  font-size: .85em;
}