{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  {% block title %}<title>Art of problem solving</title>{% endblock %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!-- Katex things -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
    integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
    integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous">
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"
    integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous">
  </script>

  <style>
    * {
      box-sizing: border-box;
    }
    body {
      padding-top: 20px;
    }
    select {
      display: block;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    table {
      border-collapse:collapse;
    }
    .column {
      float: left;
      padding: 10px;
    }

    .left { 
      max-width: 200px;
      width: 25%; }
    .right { 
      width: 75%;
      max-width: 1000px;
    }

    .disabled {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: black !important;
    }
    .pagination {
     display: block;
     text-align:center;
    }

    .pagination a {
      color: blue;
      margin: 0 auto;
      padding: 8px 16px;
      text-decoration: none;
    }

  </style>
</head>

<body>
  <div class="row">
      <!-- 검색 필드 -->
        <div class="column left">
          <form action="1" method="get">
            <select name="category" multiple>
              {% for category in categories %}
              <option value="{{category.name}}">{{category.name}}</option>
              {% endfor %}
            </select>
            <select name='topic' multiple>
              {% for topic in topics %}
              <option value="{{topic.name}}">{{topic.name}}</option>
              {% endfor %}
            </select>
            <select name='difficulty' style="height: 30px;" multiple>
              <option value=1 style="display: table-cell;"> 1 </option>
              <option value=2 style="display: table-cell;"> 2 </option>
              <option value=3 style="display: table-cell;"> 3 </option>
              <option value=4 style="display: table-cell;"> 4 </option>
              <option value=5 style="display: table-cell;"> 5 </option>
            </select>
            <select name='year' multiple>
              {% for year in years %}
              <option value={{year.0}}>{{year.0 }}</option>
              {% endfor %}
            </select>
         
            <input type="submit" value="search" style="display:block;float:right;margin-right:15%">
            </br>
          </form>
        </div>
        <!-- 문제 리스트 -->
        <div class="column right">
          {% for problem in page_obj %}
          <table style="table-layout:fixed; width:90%; min-width:800px"
            border="2">
            <tbody>
              <tr>
                <td style="text-align:center; width:10%;"> # {{problem.id}} </td>
                <td style="width:85%; text-align:center;">
                  ({{problem.year}}) {% for topic in problem.topic.all %}{{topic}} {% if not forloop.last %} /
                  {% endif %}
                  {% endfor %}
                </td>
                <td style="width:5%; text-align:center;"> {{problem.difficulty}} </td>
              </tr>
              <tr>
                <td style="text-align:center;">
                  {% for category in problem.category.all %}
                  {{category}}</br>{% endfor %}
                </td>
                <td style="width:90%; padding:15px" colspan=2> {% if problem.image %}
                  <img src="{{MEDIA_URL}}{{problem.image}}"
                    style="display:block; margin-left:auto;margin-right:auto;max-height:250px;max-width:60%" /></br>
                  {% endif %}
                  {{problem.question |linebreaks}}
                </td>
              </tr>
              <tr>
                <td style="text-align:center;"> ANS </td>
                <td style="color:white;" colspan=2> {{problem.answer}} </td>
              </tr>
            </tbody>
          </table>
          </br>
          {% endfor %}

          <!-- pagination -->
          {% if is_paginated %}
          <div class="pagination">
                <a class="{% if not page_obj.has_previous %}disabled{% endif %}"
                    href="{% url 'aops' page=1 %}?{{ request.GET.urlencode }}"> &laquo;
                </a>
                <a class="{% if not page_obj.has_previous %}disabled{% endif %}" 
                   href="{% url 'aops' page=page_obj.number|add:"-1" %}?{{ request.GET.urlencode }}">
                   &lt;
                </a>
              {% for i in page_range %}
                {% if page_obj.number == i %}
                  <a class="disabled" href="#">{{i}} </a>
                {% else %}
                  <a href="{% url 'aops' page=i %}?{{ request.GET.urlencode }}"
                     style="text-decoration:underline">{{i}}</a>
                {% endif %}
              {% endfor %}
                <a class="{% if not page_obj.has_next %}disabled{% endif %}"
                   href="{% url 'aops' page=page_obj.number|add:"1" %}?{{ request.GET.urlencode }}">
                  &gt;
                </a>
                <a class="{% if not page_obj.has_next %}disabled{% endif %}"
                  href="{% url 'aops' page=page_obj.paginator.num_pages %}?{{ request.GET.urlencode }}">
                  &raquo;
                </a>
          </div>
          {% endif %}
        </div>
 </div>

  <!-- css and js-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </script>
  <script>
    // katex delimiter
    document.addEventListener("DOMContentLoaded", function () {
      renderMathInElement(document.body, {
        delimiters: [{
            left: "$$",
            right: "$$",
            display: true
          },
          {
            left: "\\[",
            right: "\\]",
            display: true
          },
          {
            left: "$",
            right: "$",
            display: false
          },
          {
            left: "\\(",
            right: "\\)",
            display: false
          },
        ]
      });
    });
  </script>
</body>

</html>