{% extends "trading/base_trading.html"%}
{% load humanize %}
{% block content1 %}

  <div class="row" id="system">
    <div style="width: 100%;">
      <div id="profit-chart" style="margin: auto;"></div>
    </div>
  </br>
  <div id="summary" style="width:100%; margin-top: 40px">
    <div style="float: right;">
      업데이트:
      {{record.date | date:"Y-m-d H:i"}}</div>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:16.6%">원금</th>
          <th scope="col" style="width:16.6%">총자산</th>
          <th scope="col" style="width:16.6%">주식가치</th>
          <th scope="col" style="width:16.6%">잔고</th>
          <th scope="col" style="width:16.6%">수익</th>
          <th scope="col" style="width:16.6%">수익률</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ account.principal | intcomma}}</td>
          <td>{{ account.value| intcomma}}</td>
          <td>{{ account.value_stock | intcomma }}</td>
          <td>{{ account.balance | intcomma }}</td>
          <td>{{ record.gross_profit | intcomma}}</td>
          <td>{{ record.rate_profit | floatformat:1 }}
            %</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:14.3%">자본인하율</th>
          <th scope="col" style="width:14.3%">MDD</th>
          <th scope="col" style="width:14.3%">리스크</th>
          <th scope="col" style="width:14.3%">리스크율</th>
          <th scope="col" style="width:14.3%">변동성</th>
          <th scope="col" style="width:14.3%">배당금</th>
          <th scope="col" style="width:14.3%">수수료</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ record.drawdown| floatformat:1}}
            %</td>
          <td>{{ record.mdd| floatformat:1}}
            %</td>
          <td>{{ account.risk | intcomma }}</td>
          <td>{{ record.rate_risk | floatformat:1 }}
            %</td>
          <td>{{ record.volatility | floatformat:1}}
            %</td>
          <td>{{ account.dividends | intcomma }}</td>
          <td>{{ account.commission | intcomma }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</br>
<div id="history" style="width:100%"></div>
</div>
{% endblock content1 %}

{% block script %}
<script>
//매매내역 페이징
var movePage(movePage = function (num) {
  $('#history').load("{% url 'stockhistory' %}?page=" + num);
})(1)

//차트 그리기

//차트 그리기
Highcharts.setOptions({
  lang: {
    thousandsSep: ','
  }
});
var chart = Highcharts.chart('profit-chart', {
  chart: {
    height: '75%'
  }, // 16:9 ratio}
  legend: {
    enabled: false
  },
  title: {
    text: '{{account.account_name}}'
  },
  xAxis: {
    type: 'datetime',
    crosshair: {
      zIndex: 10
    }
  },
  yAxis: [
    {
      title: {
        text: "수익(원)"
      },
      labels: {
        align: 'left',
        x: 2
      },
      plotLines: [
        {
          color: '#808080',
          width: 1,
          value: 0,
          zIndex: 8,
          dashStyle: 'dash'
        }
      ],
      lineColor: 'lightgrey',
      lineWidth: 2,
      height: '60%'
    }, {
      //opposite: true,
      title: {
        text: "원금(원)"
      },
      labels: {
        enabled: false
      },
      lineColor: 'lightgrey',
      lineWidth: 2,
      top: '63%',
      height: '22%',
      offset: 0,
      margin: 300
    }, {
      //opposite: true,
      title: {
        text: "변동성(%)"
      },
      labels: {
        enabled: false
      },
      lineColor: 'lightgrey',
      lineWidth: 2,
      top: '87%',
      height: '13%',
      offset: 0
    }
  ],
  tooltip: {
    valueDecimals: 0,
    xDateFormat: '%Y-%m-%d',
    crosshairs: true,
    //split: true,
  },
  plotOptions: {
    series: {
      animation: false,
      marker: {
        enabled: false,
        radius: 2,
        symbol: 'circle'
      },
      states: {
        inactive: {
          opacity: 1
        }
      }
    }
  }
});

$.get("", function (data) {
  value = [];
  r_value = []; //리스크 제거 자산가치
  volatility = [] //평균변동성
  volatility_day = [] //일변동성
  principal = [] //원금
  for (item of data) {
    date = new Date(item[0].slice(0, 10)).getTime();
    value.push([
      date,
      parseInt(item[1]) - item[5]
    ]);
    r_value.push([
      date,
      parseInt(item[2]) - item[5]
    ]);
    volatility_day.push([
      date,
      parseInt(item[3])
    ]);
    volatility.push([
      date,
      parseInt(item[4])
    ]);
    principal.push([
      date,
      parseInt(item[5])
    ]);
  }

  chart.addSeries({
    name: "수익",
    data: value,
    yAxis: 0,
    tooltip: {
      valueSuffix: ' 원'
    },
    type: 'area',
    lineColor: '#ADD8E6',
    color: '#B0E0E6',
    zIndex: 5,
    //marker: { enabled: false}
  });
  chart.addSeries({
    name: "위험제거수익",
    data: r_value,
    yAxis: 0,
    tooltip: {
      valueSuffix: ' 원'
    },
    type: 'area',
    color: '#EEE8AA', //#FFFFE0',
    //lineColor: '#ADD8E6',
    //marker: { enabled: false}
  });
  chart.addSeries({
    name: "원금", data: principal, yAxis: 1,
    //enableMouseTracking: false,
    //dashStyle: 'dash',
    type: 'line',
    lineColor: '#808080'
  });
  chart.addSeries({
    name: "일변동성",
    data: volatility_day,
    yAxis: 2,
    type: 'column',
    color: 'black',
    //marker: { enabled: false}
  });
  chart.addSeries({
    name: "평균 변동성",
    data: volatility,
    yAxis: 2,
    type: 'line',
    color: 'tomato',
    //marker: { enabled: false}
  });
});
</script>
{% endblock script %}