{% extends "base_asset.html"%}
{% load humanize %}

{% block asset %}
<!-- Daily Asset Chart-->
<div class="asset">
    <div id="asset-chart" style="max-width:600px; margin:auto"></div>
</div>
<!-- Current Asset -->
<table class="table" style="text-align: center;">
        <thead class="thead-light">
          <tr>
            <th scope="col">분류</th>
            <th scope="col">종류</th>
            <th scope="col">잔액</th>
            <th scope="col">합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" rowspan="3" style="vertical-align : middle;text-align:center;">현금</th>
            <td>KRW</td><td>&#8361;{{ cash.last.krw | intcomma}}</td>
            <td rowspan="3" style="vertical-align : middle;text-align:center;">&#8361;{{cash.last.total | intcomma}} </td>
          </tr>
          <tr>
            <td>CNY</td>
            <td>{% if cash.last.cny %} &#165;{{ cash.last.cny | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <td>USD</td>
            <td>&#36;{{ cash.last.usd | intcomma}}</td>
          </tr>
          <tr>
            <th scope="row" rowspan="2" style="vertical-align : middle;text-align:center;">주식현물</th>
            <td>Stock</td>
            <td>{% if equity.last.stocks %} &#8361;{{ equity.last.stocks | intcomma}} {% endif %}</td>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">
                {% if equity.last.total %} &#8361;{{ equity.last.total | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <td>ETF</td>
            <td>{% if equity.last.etfs %} &#8361;{{ equity.last.etfs | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <th scope="row" rowspan="2" style="vertical-align : middle;text-align:center;">선물</th>
            <td>USD</td>
            <td>{% if futures.last.futures_in_usd %} &#36;{{ futures.last.futures_in_usd | intcomma}} {% endif %}</td>
            <td rowspan="2" style="vertical-align : middle;text-align:center;"> 
                {% if futures.last.total %} &#8361;{{ futures.last.total | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <td>KRW</td>
            <td>{% if futures.last.futures_in_krw %} &#8361;{{ futures.last.futures_in_krw | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td><mark>&#8361;{{total | intcomma}}</mark></td>
          </tr>
        </tbody>
</table>
      
{% endblock asset%}


{% block script %}
<script>
    var data = {
        total:[],
        cash:[],
        equity:[],
        futures:[],
    }
    dates= []
    
    //sum = [];
    
    cash={dates:[], values:[]};
    {% for obj in cash %}
       date = new Date('{{obj.date | date:"Y-m-d"}}').getTime();
       cash.dates.push(date);
       cash.values.push(parseInt({{obj.total}}));
       dates.push(date);
    {% endfor %}
    
    equity={dates:[], values:[]};
    {% for obj in equity %}
       date = new Date('{{obj.date | date:"Y-m-d"}}').getTime();
       equity.dates.push(date);
       equity.values.push(parseInt({{obj.total}}));
       dates.push(date);
    {% endfor %}
    
    futures={dates:[], values:[]};
    {% for obj in futures %}
       date = new Date('{{obj.date | date:"Y-m-d"}}').getTime();
       futures.dates.push(date);
       futures.values.push(parseInt({{obj.total}}));
       dates.push(date);
    {% endfor %}
    
    dates = dates.filter((a,i,self) => self.indexOf(a) == i); //중복 제거
    dates.sort(function(a,b){return a-b}); //날짜 정렬
    function getValue(date, arr, name){ //해당날짜의 자산 계산
        idx = arr.dates.lastIndexOf(date);
        if (idx > -1){
            return arr.values[idx];
        } else {
            length = data[name].length
            return length > 0? data[name][length-1][1] : 0 ;
        }
    }
    for (date of dates){
        data.cash.push([date, getValue(date, cash, 'cash')]);
        data.equity.push([date, getValue(date, equity, 'equity')]);
        data.futures.push([date, getValue(date, futures, 'futures')]);
    }

    delete futures;
    delete equity;
    delete dates;
    delete cash;
    
    /*
    for (date of dates){  //날짜별로 합산
        tot = 0
        c = data.cash.filter(x => x[0] <= date );
        c.length > 0? tot += c.slice(-1)[0][1]+= 0 : tot += 0;
        
        s = data.equity.filter(x => x[0] <= date );
        s.length > 0? tot += s.slice(-1)[0][1] : tot += 0;

        f = data.futures.filter(x => x[0] <= date );
        f.length > 0? tot += f.slice(-1)[0][1] : tot += 0;
        
        sum.push(tot);
    }*/
    //합산 데이터 저장
   // data.total = dates.map(function(date, i) {
   //     return [date, sum[i]];
   // });

    Highcharts.setOptions({
		lang: {
			thousandsSep: ','
		}
	});
    Highcharts.chart('asset-chart', {
            chart: {
                type: 'area'
            },
            title: {
                text: '자산 현황'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: '백만원',
                },
                labels: {
                    formatter: function () {
                        return this.value / 1000000;
                    }
                },
                min: 0
            },
            tooltip: {
                xDateFormat: '%Y-%m-%d',
                shared: true,
                formatter: function() {
                    var s = Highcharts.dateFormat('%Y-%m-%d', new Date(this.x));
                    var sum = 0
                    $.each(this.points, function(i, point) {
                        s += '<br/><span style="color:' + point.color + '">\u25CF</span> ' + point.series.name + ': <b>' + point.y.toLocaleString()+'원</b>';
                        sum += point.y
                    });
                    s+= '<br/><span style="color: red ">\u25CF</span> 합계: <b>' + sum.toLocaleString() + '원</b></br>'
                    return s;
                },
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    linecolor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        linecolor: '#666666'
                    },
                }
            },
            series: [
                {
                    name: "현금",
                    data: data.cash,
                },{
                    name: "주식현물",
                    data: data.equity,
                },{
                    name: "선물",
                    data: data.futures,
                }
            ], 
        });
        </script>
{% endblock script%}