{% extends "base_asset.html"%}
{% load humanize %}

{% block asset %}
{% for obj in cash %}
{% endfor %}
<!-- Daily Asset Chart-->
<div class="asset">
    <div id="asset-chart"></div>
</div>
<!-- Current Asset -->
<table class="table" style="text-align: center;">
        <thead class="thead-light">
          <tr>
            <th scope="col">Currency</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">KRW</th>
            <td>&#8361; {{ cur_krw | intcomma}}</td>
          </tr>
          <tr>
            <th scope="row">CNY</th>
            <td>&#165; {{ cur_cny | intcomma}}</td>
          </tr>
          <tr>
            <th scope="row">USD</th>
            <td>&#36; {{ cur_usd | intcomma}}</td>
          </tr>
          <tr>
            <th scope="row">Total</th>
            <td>&#8361; {{ total | intcomma}}</td>
          </tr>
        </tbody>
</table>
      
{% endblock asset%}


{% block script %}
<script>
    var data = {
        total:[],
        krw:[],
        usd:[],
        cny:[]
    }
    let date;
    {% for obj in cash %}
       date = new Date('{{obj.date | date:"Y-m-d"}}').getTime();
       data.total.push([date, parseInt({{obj.total}})]);
       data.krw.push([date, parseInt({{obj.krw}})]);
       data.cny.push([date, parseInt({{obj.cny}})]);
       data.usd.push([date, parseInt({{obj.usd}})]);
    {% endfor %} 

    Highcharts.setOptions({
		lang: {
			thousandsSep: ','
		}
	});
    Highcharts.chart('asset-chart', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Total Assets in Cash'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: null,
                },
                min: 0
            },
            plotOptions: {
                series:{
                    events: {
                        show: function () {
                            var chart = this.chart,
                                series = chart.series,
                                i = series.length,
                                otherSeries;
                            while (i--) {
                                otherSeries = series[i];
                                if (otherSeries != this && otherSeries.visible) {
                                    otherSeries.hide();
                                }
                            }
                        },
                        legendItemClick: function() {
                            if(this.visible){
                                 return false;   
                            }
                        }
                    }
                },
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
        
            colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
        
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            series: [
                {
                    name: "Total",
                    data: data.total,
                    
                },{
                    name: "KRW",
                    data: data.krw,
                    visible:false
                    
                },{
                    name: "CNY",
                    data: data.cny,
                    visible:false
                },{
                    name: "USD",
                    data: data.usd,
                    visible:false
                }
            ], 
        });
        </script>
{% endblock script%}