{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    {% block title %}<title>Asset</title>{% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add additional CSS in static file -->
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/asset.css' %}">
</head>

<body>
     <nav class="navbar fixed-top bg-dark">
         <div style="width:100%">
         <ul class="nav" style="display:inline-flex">
           <li class="nav-item {% if activate == 'asset' %}active {% endif %}">
             <a class="nav-link" href="{% url 'asset' %}">Asset</a>
           </li>
          </ul>
             <a class="btn btn-outline-success" href="/logout" style="float:right">Logout</a>
          
         </div>
       </nav>
       <main role="main" class="container-fluid" style="max-width:900px">
                {% block asset %}{% endblock asset %}
       </main>
<!-- css and js-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% block script %}{% endblock script %}
</body>
</html>