
/* maths */
.dataTables_filter {
    float: left !important;
}

.dataTables_filter input{
    width: 150% !important;
    height: 30px;
    margin-bottom: 10px;
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* table style */
  table {
      text-align: center;
      
  }

  .lecture-detail-table {
    table-layout: fixed;
    word-wrap: break-word;
  }