{% extends "maths/base_generic.html"%}

{% block maths %}
<div class="document" url="{% url 'document' %}" mediaurl="{{MEDIA_URL}}">    
<table id="data-table" class="table table-striped table-bordered document-table">
        <thead class="thead-dark">
            <tr>
                <th>Like</th>
                <th>Title</th>
                <th>Topic</th>
                <th>Course</th>
                <th>Category</th>
                <th>D</th>
                <th>File</th>
                <th>Key</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents  %}
        <tr id="{{document.id}}">
            <td class='reputation' style='cursor:pointer;'>{{document.reputation}}</td>
            <td style="text-align: left;" class='doc-title'> {{document.title}} </td>
            <td style="text-align: left; font-size:90%;"> {{document.topic.all | join:" / " }} </td>
            <td> {{ document.course }} </td>
            <td> {{document.category}} </td>
            <td> {{document.difficulty}} </td>
            <td> <a href='{{MEDIA_URL}}{{document.file}}' target='_blank' style="text-decoration: none"><i class="fas fa-download"></i></a> </td>
            <td> 
                 {% if document.key %}<a href='{{MEDIA_URL}}{{document.key}}' target='_blank'><i class="fas fa-download"></i></a>
                 {% else %} <i class="fas fa-plus key-icon" style="cursor:pointer"></i>
                 {% endif %}</td>
            <td><i class="far fa-trash-alt delete-doc" style='cursor: pointer;'></i></td>
        </tr>
        {% endfor %}
        </tbody>
</table>
</div>
{% endblock maths%}


