{% extends "base_generic.html"%}

{% block maths %}
<div class="coures">
    <table id="data-table" class="table table-hover table-bordered" style="text-align: center">
        <thead class="thead-dark">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Course</th>
                <th>Title</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr style="cursor:default !important" pk={{course.id}} onclick="location.href = '/maths/course/{{course.id}}';">
                <td > {{course.pub_date | date:'Y' }} </td>
                <td> {{course.pub_date | date:'M'}} </td>
                <td> {{course.course}} </td>
                <td style="text-align: left"> {{course.name}} </td>
                <td> {% if course.status %}<i class="fas fa-lock-open"></i> 
                     {% else %}<i class="fas fa-lock" style='color:grey'></i>
                     {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock maths%}