{% extends "base_generic.html"%}

{% block content %}
    <table id="files-table" class="display compact">
        <thead>
            <tr>
                <th>Title</th>
                <th>Topic</th>
                <th>Course</th>
                <th>Category</th>
                <th>D</th>
                <th>Note</th>
                <th>File</th>
                <th>Key</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents  %}
        <tr>
            <td> {{document.title}} </td>
            <td> {% for topic in document.topic.all %} {{topic}}/ {% endfor %} </td>
            <td> {{document.course}} </td>
            <td> {{document.category}} </td>
            <td> {{document.difficulty}} </td>
            <td> {{document.note}} </td>
            <td> <a href='{{MEDIA_URL}}{{document.file}}'>down</a> </td>
            <td> {% if document.key %}<a href=''>down</a> {% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>

{% endblock %}


