* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

.topnav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 40px;
  line-height: 40px;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 2px solid black;
  padding-left: 30px;
  background-color: white;
}

table {
  margin: 0 auto;
  width: 90%;
}

.row {
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: blue;
}

.column {
  padding: 10px;
  margin: 0 auto;
  max-width: 1000px;
}

.calander {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  table-layout: fixed;
  min-width: 800px
}

.calander td {
  border: 1px solid black;
  border-bottom: 1px solid black;
  height: 48px;
}

.calander thead td {
  border-right: 1px solid black;
  height: 50px;
}

.todo,
.done {
  position: absolute;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: 48px;
  font-size: 80%;
}

.todo>a:hover,
.done>a:hover {
  text-decoration: underline;
}

/* course view */
.course {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 800px;

}

.course thead tr {
  border-bottom: 2px solid black;
  background-color: beige;
  height: 40px;
  font-weight: bold;
  ;
}

.course tbody tr {
  font-size: 95%;
  border-bottom: 1px dotted grey;
  height: 35px;
}

/* student view */
.students {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 800px;

}

.students thead tr {
  border-bottom: 2px solid black;
  background-color: beige;
  height: 40px;
  font-weight: bold;
  ;
}

#student-info table {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  width: 85%;
  min-width: 800px;
}

#student-info tr {
  height: 35px;
}

#student-info th {
  background-color: beige;
  ;
}

#student-info td,
#student-info th {
  border: 1px solid black;
}

#student-lessons tbody tr {
  font-size: 95%;
}

/* index view */
#index>table {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  width: 85%;
  min-width: 800px;
}

#index tr {
  height: 25px;
}

#index th {
  background-color: beige;
  ;
}

#index td,
#index th {
  border: 1px solid grey;
}

#index tbody td {
  font-size: 95%;
}

/* statement */
@media all {
  #statement {
    width: 90%;
    margin: 0 auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
  }


  #statement h2 {
    text-align: center;
    padding-top: 1%;
  }

  #intro {
    margin-top: 5px;
    font-size: 15px;
    line-height: 1.8;

  }

  .lesson-table {
    width: 95%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    page-break-inside: avoid;
    border: 1px solid black;
    margin-bottom: 25px;

  }

  .lesson-table tr {
    height: 20px;
  }

  .lesson-table th {
    background-color: rgb(242, 242, 242);
    font-size: 12px;
    border: 1px solid lightgrey;
  }

  .lesson-table td {
    font-size: 12px;
    border: 1px solid lightgrey;
  }

  #statement-detail {
    page-break-inside: avoid;
  }

  #statement-info {
    margin-top: 20px;
    width: 98%;
    height: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 15px;
  }

  #statement-info th {
    text-align: left;
    padding-left: 13px;
  }

  #statement-info td {
    text-align: left;
    padding-left: 10px;
  }

  .tuition-info {
    page-break-inside: avoid;
  }

  #tuition-table {
    table-layout: fixed;
    margin-top: 15px;
    width: 95%;
    height: 70px;
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 14px;
  }

  #tuition-table th,
  #tuition-table td {
    border-bottom: 1px dotted black;
  }

  #tuition-table td {
    text-align: center;
  }

}

/* 수업입력 */
#post-lesson {
  width: 95%;
  margin: 0 auto;
}

#post-lesson table {
  margin-top:10px;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  width: 90%;
}

#post-lesson tr {
  height: 35px;
}

#post-lesson th {
  background-color: beige;
  ;
}

#post-lesson td,
#post-lesson th {
  border: 1px solid black;
  
}

.financial-statement {
  border: 2px solid black;
  border-collapse: collapse;
}

.financial-statement th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: beige;
  height: 40px;
}

.financial-statement td {
  border-bottom: 1px solid black;
  padding: 0;
  margin: 0
}

#income {
  border-collapse: collapse;
}

#expenditure {
  border-collapse: collapse;
}