<html>
<head>
  <title> 수업료 납부 기록 </title>
  <style>
        table, th, td {
          border: 1px solid black;
        }
  </style>
<body>
      <form method="post" action="{% url 'studentdetail' pk=student.pk %}">
        <input type="hidden" name='csrfmiddlewaretoken' value={{csrf}}>
        <input type='hidden' name='subject' value='addtuition'></td>
        <input type='hidden' name='student' value={{student.pk}}></td>
        <table style='width:100%'>
        <tr>
          <th style='width:30%'>학생</th>
          <td>{{student.name}} ({{student.school}})</td>
        </tr>
        <tr>
          <th>날짜</th>
          <td><input type="date" name="date"/></td>
        </tr>
        <tr>
          <th>금액</th>
          <td><input type="number" name="deposit"></td>
        </tr>
        <tr>
          <th>납부방식</th>
          <td>
              <select name="method" >
                <option value="위챗페이"/>위챗페이</option>
                <option value="즈푸바오"/>즈푸바오</option>
                <option value="현금"/>현금</option>
                <option value="환불"/>환불</option>
              </select>
          </td>
        </tr>
        <tr>
          <th>비고</th>
          <td><input type="text" name='note' > </td>
        </tr>
      </table>
      <div>
        <input type="submit" value="입력" style="display:block; margin: 0 auto; margin-top:10px"/>
      </div>
    </form>
</body>
</html>