{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body class='text-center'>
    {% block content %}
    <div class="form-signin">
    <div class="list-group">
        <a href="/maths/" class="list-group-item list-group-item-action">수학자료</a>
        <a href="/aops/" class="list-group-item list-group-item-action">AMC</a>
        <a href="/tutoring/" class="list-group-item list-group-item-action">과외</a>
    </div>
    <div class="list-group">
        <a href="/trading/" class="list-group-item list-group-item-action" style="margin-top:10px;">Trading</a>
    </div>
    <div class="list-group" style="margin-top:30px">
        <a href="/logout" class="btn btn-lg btn-primary btn-block">Logout</a>
    </div>
    </div>
    {% endblock content %}
</body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</html>