{% extends "index.html" %}   
{% block content %}
    <form method="post" action="{% url 'login' %}" class="form-signin"> {% csrf_token %}
        <label for="id_username" class="sr-only">Username</label>
        <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
        <button id="id_submit" class="btn btn-lg btn-primary btn-block" type="submit" value="login" style="display:none;">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        $('#id_password').keypress(function(e){
            if(e.keyCode==13)
                $('#id_submit').click();
        });
    });
    </script>
{% endblock content %}