{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  {% block title %}<title>Tutoring</title>{% endblock %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/tutoring.css' %}">
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  
  <!-- 
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
    rel="stylesheet">
  <style>
    body {
      font-family: 'Nanum Gothic', sans-serif;
    }
  </style>
  -->
</head>

<body>
  <div class="topnav" style="z-index:10">
    <a href="{% url 'index' %}">홈</a> |
    <a href="{% url 'tutoring_calendar' %}">시간표</a> |
    <a href="{% url 'course' %}">수업정보</a> |
    <a href="{% url 'statistics' %}">통계</a> |
    <a href="{% url 'financial' %}">재무</a> 
    <div style="float:right;padding-right:40px;">
      <a href="{% url 'admin:index' %}tutoring/" target="_blank">관리자</a> |
      <a href="{% url 'logout' %}" >로그아웃</a> 
    </div>
    

  </div>
  <div class="row">
        <div class="column">
          {% block content %}
          {% endblock %}
        </div>
 </div>
</body>

{% block script %}
{% endblock %}

</html>