{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  {% block title %}<title>Tutoring</title>{% endblock %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/tutoring.css' %}">
  <!-- 
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
    rel="stylesheet">
  <style>
    body {
      font-family: 'Nanum Gothic', sans-serif;
    }
  </style>
  -->
</head>

<body>
  <div class="topnav" style="z-index:10">
    <a href="{% url 'index' %}">홈</a> /
    <a href="{% url 'calendar' %}">시간표</a> /
    <a href="{% url 'course' %}">수업정보</a> /
    <a href="{% url 'student' %}">학생정보</a> /
    <a href="{% url 'financial' %}">재무</a> /
    <a href="{% url 'logout' %}" style="float:right;padding-right:40px;">로그아웃</a> 

  </div>
  <div class="row">
        <div class="column">
          {% block content %}
          {% endblock %}
        </div>
 </div>
</body>

{% block script %}
{% endblock %}
</html>