{% extends "tutoring/base.html"%}

{% block content %}
          <table class="calander" style="border:none;">
            <tr>
              <td style="height:20px;border:none;padding-left:30px;padding-right:30px;">
                <a href="{% url 'calendar' %}?week={{weekidx|add:-1}}" style='float:left;'> &lt;&lt; 지난주</a>
                <a href="{% url 'calendar' %}?week=0" style='margin:0 auto;'> 오늘 </a>
                <a href="{% url 'calendar' %}?week={{weekidx|add:1}}" style='float:right;'>다음주 &gt;&gt;</a>
              </td>
            </tr>
          </table>
          <table class="calander">
            <thead>
              <tr>
                <td rowspan=2>시간</td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                <td>토</td>
                <td>일</td>
              </tr>
              <tr>
                {% for num in thisweek %}
                <td {% if today == num %}style="background-color: yellow;"{% endif %}>{{num |date:'n월 j일'}}</td>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>메모</td>
                {% for v in dayworks.values %}
                  <td style='font-size:13px;text-align:left;margin:0px;padding:1px;'>
                    {% for memo in v.memo %}
                       <p style='margin:0px;;padding:0px;cursor:default;' id='{{memo.pk}}'> 
                          &#128900; {{memo.memo}} 
                          <a href="{% url 'calendar' %}?week={{weekidx}}&deletememo={{memo.pk}}"
                             style="color:black;">&#8999;</a>
                       </p>
                    {% endfor %}
                    <a href="{% url 'dailymemo' date=v.date %}"
                      target="일일메모"
                      onclick="window.open('about:blank','일일메모', 'left=550,top=100,width=400,height=400');"
                      style="display:block;margin:0 auto;text-align:center">&#x1F4DD;
                    </a>
                  </td>
                {% endfor %}
              </tr>
              {% for i in '0123456789abcd' %}
              <tr>
                <td style="border-top:1px solid black;" > {{forloop.counter|add:9}}:00  </td>
                {% if i == '0' %}
                  {% for v in dayworks.values %}
                  <td style="padding:0px;" rowspan=14>
                    <div style="height:100%;width:100%;position:relative;">
                      {% if v.todo %}
                        {% for lesson in v.todo %}
                          {% if not lesson.0.pk in course_pks %}
                          <div class="todo" style="top:{{lesson.1}}px;height:{{lesson.2}}px;background-color:beige;">
                              {{lesson.3}}<br>
                              <a href="{% url 'popup-lesson' course=lesson.0.pk date=v.date%}" target="수업입력" onclick="window.open('about:blank','수업입력', 'width=800,height=800');">{{lesson.0.name}}</a><br>
                              {% for student in lesson.0.student.all %}
                                <a href="{% url 'studentdetail' pk=student.pk %}" target='_blank'>{{ student.name }}</a>
                              {% endfor %} <br>
                          </div>
                          {% endif %}
                        {% endfor %}
                      {% endif %}

                      {% if v.done %}
                        {% for lesson in v.done %}
                        <div class="done" style="top:{{lesson.1}}px;height:{{lesson.2}}px;background-color:#AFEEEE;">
                            {{lesson.3}}<br>
                            <a href="{% url 'popup-lesson' lesson=lesson.0.pk %}"
                               target="수업입력"
                               onclick="window.open('about:blank','수업입력', 'width=800,height=800');"> {{lesson.0.course.name}}</a><br>
                            {% for student in lesson.0.course.student.all %}
                              {% if student.name in lesson.4 %}
                                <a href="{% url 'studentdetail' pk=student.pk %}" target='_blank'>{{ student.name }}</a>
                              {% else %}
                                <a href="{% url 'studentdetail' pk=student.pk %}" target='_blank' style="text-decoration:line-through;">{{ student.name }}</a>
                              {% endif %}
                            {% endfor %}

                        </div>
                        {% endfor %}
                      {% endif %}

                    </div>
                  </td>
                  {% endfor %}
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>

{% endblock %}

