{% extends "tutoring/base.html"%}

{% block content %}
<div>
          <table class="course">
            <thead>
              <tr>
                <th style="width:5%;">#</th>
                <th style="width:35%;">수업</a></th>
                <th style="width:20%;">과정</th>
                <th style="width:25%;">학생</th>
                <th style="width:15%;">수업추가</th>
              </tr>
            </thead>
            <tbody>
              {%for course in courses %}
                <tr {% if not course.status %}style="color:grey;font-weight:normal;font-style:italic"{% endif %}>
                  <td>{{course.pk}}</td>
                  <td><a href="{% url "coursedetail" pk=course.pk %}" style="color:MediumBlue;">{{course.name}}</a></td>
                  <td>{{course.curriculum.name}}</td>
                  <td>{% for s in course.student.all %}{{s.name}} {% endfor %}</td>
                  <td><button onclick="addExtraLesson({{course.pk}}, '{{course.name}}');">+</button></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
</div>
{% endblock %}


{% block script %}
<script>
  //추가수업 입력 팝업
  function addExtraLesson(course_pk, course_name){
    var w = window.open('', '수업추가', 'width=400,height=235');
    var html = `{{ addlessonhtml }}`.replace('$coursepk', course_pk).replace('$coursename', course_name)
    w.document.write(html);
  };
</script>
{% endblock %}