{% extends "tutoring/base.html"%}

{% block content %}
          <div id="index">
              <h3> &#9679; <u> 오늘의 수업</u> </h3>
              <p> * <b>{{ today|date:"Y-m-d"}} ({{weekday}}) </b></p>
                {% for course in lessons%}
                 
                  <table>
                    <tbody>
                      <tr>
                        <th style="width:20%;">수업</th>
                        <td><a href="{% url 'coursedetail' pk=course.0.id %}">{{course.0.name}}</a></td>
                        <th style="width:15%;">시간</th>
                        <td>{{course.1 |date:"H:i"}} ~ {{course.2 |date:"H:i"}}</td>
                      </tr>
                      {% for s in course.0.student.all %}
                      <tr>
                        <th>학생</th>
                        <td>
                            <a href="{% url 'studentdetail' name=s.name%}">{{s.name}}</a></td>
                        <th>잔액</th>
                        <td>
                            &yen;{{s.balance|floatformat:"0"}} (남은횟수: {% widthratio s.balance course.0.tuition 1 %})</td>
                      </tr>
                      {% endfor %}
                      <tr>
                        <th style="width:20%;">과정</th>
                        <td>{{course.0.curriculum.name}}</td>
                        <th style="width:15%;">단원</th>
                        <td>{{course.0.lesson_set.first.topic}}</td>
                      </tr>
                      <tr>
                        <th>지난 수업내용</th>
                        <td colspan=3> {{course.0.lesson_set.first.name}}</td>
                      </tr>
                      <tr>
                        <th>숙제</th>
                        <td colspan=3>{{course.0.lesson_set.first.homework|default_if_none:""}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                {% endfor %}

                <h3> &#9679; <u> 수업료 납부 요망</u> </h3>
                  <table>
                    <tbody>
                      <tr><th>이름</th><th>잔액</th><th>최종 납부일</th></tr>
                      {% for s,balance in students %}
                      <tr>
                        <td>
                            <a href="{% url 'studentdetail' name=s.name%}">{{s.name}}</a></td>
                        <td>
                            &yen;{{balance|floatformat:"0"}}</td>
                        <td>
                            {{s.tuition_set.last.date|date:"Y년 m월 d일"}}</td>
                      </tr>
                      {% endfor %}
                  </table>
         
          </div>
          
{% endblock %}