{% extends "tutoring/base.html"%}
{% load humanize %}

{% block content %}
<div id="stats">
  <div>
    <div class='subtitle' style='display:inline;'> &#9679; 월 수업통계 ({{year}}년 {{month}}월)</div>
    <div style="float:right;margin-right:5%;margin-bottom:3px;">
      <input id='date' type="month" min="2021-12" />
      <button onclick="window.location.href = '/tilde/statistics/'+document.getElementById('date').value">보기</button>
    </div>
  </div>
  <table id='lesson_stat'>
    <tbody>
      <tr><th style='width:16.66%;'></th><th style='width:16.66%;'>중등</th><th style='width:16.66%;'>고등</th><th style='width:16.66%;'>AP/IB</th><th style='width:16.66%;'>경시</th><th style='width:16.66%;'>합계</th></tr>
      <tr><th>수학</th><td>{{lessons_stat.math.count.1}}</td><td>{{lessons_stat.math.count.2}}</td><td>{{lessons_stat.math.count.3}}</td><td>{{lessons_stat.math.count.4}}</td><th>{{ lessons_stat.math.count_sum}}</th></tr>
      <tr><th>물리</th><td>{{lessons_stat.physics.count.1}}</td><td>{{lessons_stat.physics.count.2}}</td><td>{{lessons_stat.physics.count.3}}</td><td>{{lessons_stat.physics.count.4}}</td><th>{{ lessons_stat.physics.count_sum}}</th></tr>
      <tr><th>계</th><th>{{lessons_stat.count.1}}</th><th>{{lessons_stat.count.2}}</th><th>{{lessons_stat.count.3}}</th><th>{{lessons_stat.count.4}}</th><th>{{ lessons_stat.total_count}}</th></tr>
      <tr><th>수업료</th>
          <th>{{lessons_stat.tuition.1 |floatformat:0|intcomma }}</th>
          <th>{{lessons_stat.tuition.2 |floatformat:0|intcomma }}</th>
          <th>{{lessons_stat.tuition.3 |floatformat:0|intcomma }}</th>
          <th>{{lessons_stat.tuition.4 |floatformat:0|intcomma }}</th>
          <th>{{lessons_stat.total_tuition |floatformat:0|intcomma }}</th>
    </tbody>
  </table>
  <div style='display:inline;margin-left:5%;'>*시수 = 수업횟수 x 학생수</div> 
  <br><br/>

  <div id='student'>
  <div class='subtitle'> &#9679; 학생통계 </h4>
  </div>
  <table>
    <tbody>
      <tr><th style='width:15%;'></th><th style='width:10%;'>G6/Y7</th><th style='width:10%;'>G7/Y8</th><th style='width:10%;'>G8/Y9</th><th style='width:10%;'>G9/Y10</th><th style='width:10%;'>G10/Y11</th><th style='width:10%;'>G11/Y12</th><th style='width:10%;'>G12/Y13</th><th style='width:15%;'>합계</th></tr>
      {% for school in stat %}
      <tr>
        <th>{{school.0}}</th>
        <td>{{ school.1.0 }}</td>
        <td>{{ school.1.1 }}</td>
        <td>{{ school.1.2 }}</td>
        <td>{{ school.1.3 }}</td>
        <td>{{ school.1.4 }}</td>
        <td>{{ school.1.5 }}</td>
        <td>{{ school.1.6 }}</td>
        <th>{{ school.2 }}</th>
      </tr>
      {% endfor %}
      <tr><th>합계</th>
        <th>{{total.0}}</th>
        <th>{{total.1}}</th>
        <th>{{total.2}}</th>
        <th>{{total.3}}</th>
        <th>{{total.4}}</th>
        <th>{{total.5}}</th>
        <th>{{total.6}}</th>
        <th>{{students_enrolled.count}}</th>
      </tr>
    </tbody>
  </table>
  <br/><br/>
  <div>
    <div class='subtitle' style='display:inline'> &#9679; 학생목록 </div>
    <div style="display:inline;float:right;margin-right:5%;margin-bottom:10px;">
      <span><b id='count'></b></span>
      <select name="" id="enrollment">
        <option value="1">등록</option>
        <option value="0">전체</option>
        <option value="2">퇴원</option>
        <option value="3">졸업</option>
        <option value="4">미등록</option>
      </select>
    </div>
  </div>
          
          <table class='students' id="students-list" >
            <thead>
              <tr>
                <td style="width:5%;">#</td>
                <td style="width:15%;">등록일</td>
                <td style="width:20%;">이름</td>
                <td style="width:15%;">학교</td>
                <td style="width:15%;">학년</td>
                <td style="width:10%;">등록</td>
                <td style="width:20%;">비고</td>
              </tr>
            </thead>
            <tbody>
              {%for student in students_all %}
                <tr enrolled = '{{student.status}}'>
                  <td>{{student.pk}}</td>
                  <td>{{student.date|date:"Y-m-d"}}</td>
                  <td><a href="{% url 'studentdetail' pk=student.pk %}">{{student.name}}</a></td>
                  <td>{{student.school}}</td>
                  <td>{{student.year2}}</td>
                  <td>{% if student.status == 1 %} 등록 {% elif student.status == 2 %} 퇴원 {% elif student.status == 3 %} 졸업 {% elif student.status == 4 %} 미등록 {% endif %}</td>
                  <td>{{student.note |default_if_none:""}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
</div>
{% endblock %}

{% block script %}
<script>
  // 첫화면 세팅
  $('#students-list > tbody').children().css('display','none');
  $('#students-list > tbody').children(`[enrolled=1]`).css('display','table-row');
  counter = $('#students-list > tbody').children(`[enrolled=1]`).length;
  $('#count').text(counter+' 명');

  $('#enrollment').change(function() {
    let flag = $("#enrollment option:selected").val();
    let counter;
    if (flag == '0'){
      $('#students-list > tbody').children().css('display','table-row');
      counter = $('#students-list > tbody').children().length;
    } else {
      $('#students-list > tbody').children().css('display','none');
      $('#students-list > tbody').children(`[enrolled=${flag}]`).css('display','table-row');
      counter = $('#students-list > tbody').children(`[enrolled=${flag}]`).length;
    } ;

    $('#count').text(counter+' 명');

  });


</script>
{% endblock%}