{% extends "tutoring/base.html"%}

{% block content %}
          <div id="student-info">
            <p><b>&#9632; 인적사항</b></p>
            <table>
              <tbody>
                <tr>
                  <th>이름</th>
                  <td>{{student.name}}</td>
                  <th>등록일</th>
                  <td>{{student.date|date:"Y-m-d" }}</td>
                </tr>
                <tr>
                  <th>학교</th>
                  <td>{{student.school}}</td>
                  <th>학년</th>
                  <td>{{student.year}}</td>
                </tr>
                <tr>
                  <th>지역</th>
                  <td>{{student.region}}</td>
                  <th>위챗</th>
                  <td>{{student.wechat_id }}</td>
                </tr>
                <tr>
                  <th>주소</th>
                  <td colspan=3>{{student.address|default_if_none:""}}</td>
                </tr>
                <tr>
                  <th>상태</th>
                  <td>{% if student.status %} 등록 {% else %} 미등록 {% endif %}</td>
                  <th>비고</th>
                  <td></td>
                </tr>
                <tr>
                  <th>최근 상담내역 
                    <br><a href="{% url 'consult' pk=student.pk %}"
                    target="상담내역"
                    onclick="window.open('about:blank','상담내역', 'width=600,height=800');"> (전체보기)</a><br>
                  </th>
                  <td colspan=3 style='text-align:left;padding-top:10px;padding-left:10px;'>
                    <b>{{consult.last.date |date:'Y년 m월 d일'}} #{{consult.last.tag}}</b>
                    {{consult.last.note |linebreaks}}
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <p><b>&#9632; 수업료 납부현황 (최근 5회)</b></p>
            <table>
              <tbody>
                <tr>
                  <th>납부총액</th><td>&yen;{{tuition.deposit}}</td>
                  <th>잔액</th><td>&yen;{{tuition.usage}}</td>
                </tr>
              </tbody>
            </table>
            <br>

            <form method="post"
                  target="수업내역서"
                  action="{% url 'statement' %}"
                  onsubmit="window.open('about:blank','수업내역서', 'width=800,height=800');">
            <!-- 메타 정보 -->
            {% csrf_token %}  
            <table>
              <thead>
                <tr>
                  <th style="width:30%;">날짜</th>
                  <th style="width:45%;">금액</th>
                  <th style="width:20%;">납부방식</th>
                  <th style="width:5%;"></th>
                </tr>
              </thead>
              <tbody>
                {% for record in tuition.records %}
                {% if record.notice.count > 0 %}
                <tr style='color:lightgrey'>
                {% else%}
                <tr>
                {% endif %}
                  <td>{{record.date |date:"Y-m-d"}}</td>
                  <td>&yen;{{record.deposit}}</a></td>
                  <td>{{record.payment}}</td>
                  <td><input type="checkbox" name="tuition" value={{record.pk}} /> </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>
            
            <p><b>&#9632; 수업 리스트</b></p>
            <table id="course-list">
              <thead>
                <tr>
                  <th style="width:15%">시작일</th>
                  <th style="width:40%" >수업명</th>
                  <th style="width:25%">과정</th>
                  <th style="width:15%">진행상태</th>
                  <th style="width:5%"></th>
                </tr>
              </thead>
              <tbody>
                {% for course in courses %}
                <tr>
                  <td>{{course.startdate |date:"Y-m-d"}}</td>
                  <td>
                    <a href="{% url "coursedetail" pk=course.pk %}"
                    {% if course.status == False %} style='color:grey';{% endif %}>
                    {{course.name}}</a>
                  </td>
                  <td>{{course.curriculum.name}}</td>
                  <td>{% if course.status %} 진행중 {% else %} 완료 {% endif %}</td>
                  <td><input class='courses' type="checkbox" name="course" value={{course.pk}} /> </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>
            
            <p><b>&#9632; 지난 수업 목록 </b> 
               
               <input type="hidden" name="student" value="{{student.pk}}"> 
               </p>
              <table id="student-lessons">
                <thead>
                  <tr>
                    <th style="width:12%">수업일</th>
                    <th style="width:12%" >시간</th>
                    <th style="width:17%">단원</th>
                    <th style="width:32%">수업내용</th>
                    <th style="width:12%">과정</th>
                    <th style="width:8%">수업료</th>
                    <th style="width:5%"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for at in attendences %}
                    {% if at.notice.count > 0 %} 
                    <tr style='display:none;color:lightgrey;' name='{{at.lesson.course.pk}}'>
                    {% else %}
                    <tr style='display:none' name='{{at.lesson.course.pk}}'>
                    {% endif %}
                    <td>{{at.lesson.date |date:"Y-m-d"}}</td>
                    <td>{{at.lesson.start |date:"H:i"}}~{{at.lesson.end |date:"H:i"}}</td>
                    <td>{{at.lesson.topic |default_if_none:""}}</a></td>
                    <td>{{at.lesson.name}}</td>
                    <td>{{at.lesson.course.curriculum.name}}</td>
                    <td>&#165;{{at.lesson.tuition |floatformat:0}}</td>
                    <td><input type="checkbox" name="attendences" value={{at.pk}} /> </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <p><b>&#9632; 내역서 디자인</p></b>
                 <ul>
                  <li>지난 수업료 납부일 명시 <input type="checkbox" name="last_tuition_date" value=1 checked></li> 
                  <li>수업료 안내 <input type="checkbox" name="guide_next_tuition" value=1 checked></li>
                  <li>수업 횟수 <input type="number" name="num_lectures" value=4></li>
                 </ul> 
             <input type="submit" value="내역서 생성" style="display:block; margin: 0 auto; margin-top:10px">
            </form>
            <br>


            <p><b>&#9632; 수업안내문 기록 </b></p>
            <table id="notice-list">
              <thead>
                <tr>
                  <th style="width:25%">발행일</th>
                  <th style="width:25%" >적용일</th>
                  <th style="width:25%">보기</th>
                  <th style="width:25%">삭제</th>
                </tr>
              </thead>
              <tbody>
                {% for notice in notices %}
                <tr>
                  <td>{{ notice.date |date:"Y-m-d"}}</td>
                  <td>{{ notice.tuition_start_date |date:"Y-m-d"}}</td>
                  <td><a href="{% url 'statement' %}?notice={{ notice.pk }}"
                    target="안내문"
                    onclick="window.open('about:blank','안내문', 'width=800,height=800');">&#x1F4DD;</a></td>
                  <td><a href="{% url 'studentdetail' pk=student.pk %}?delete_notice={{ notice.pk }}" style='color:black'>&#8999;</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>
          </div>
{% endblock %}

{% block script %}

<script>
  // 수업 체크박스 선택시 해당 레슨목록 등장
  $('.courses').change(function() {
    $('#student-lessons > tbody').children().each(function(){ $(this).css('display','none')});
    $("input[name='attendences']").prop('checked',false)
    console.log($('.courses:checked'))
    var checked_courses = $(".courses:checked")
              .map(function(){return $(this).val();}).get();
    $('#student-lessons > tbody').children().each(function(){
      if (checked_courses.includes($(this).attr('name'))){
        $(this).css('display','table-row');
      }
    })
  });
</script>
{% endblock%}