{% extends "base_trading.html"%}
{% load humanize %}
{% block trading %}
<div class="row">
  <ul class="nav nav-tabs">
  
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'futures' system=1 %}">System 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'futures' system=2 %}">System 2</a>
    </li>
  </ul>
</div>
</br>
<div class="row" id="system">
  <div style="width:100%">
    <div id="profit-chart" style="max-width: 680px; margin: auto;"></div>
  </div>
  </br>
  <div id="summary" style="width:100%">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:16.6%">원금</th>
          <th scope="col" style="width:16.6%">총자산</th>
          <th scope="col" style="width:16.6%">수익</th>
          <th scope="col" style="width:16.6%">수익률</th>
          <th scope="col" style="width:16.6%">리스크</th>
          <th scope="col" style="width:16.6%">리스크율</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ account.principal | intcomma}}</td>
          <td>{{ account.value| intcomma}}</td>
          <td>{{ account.gross_profit | intcomma }}</td>
          <td>{{ record.rate_profit | floatformat:1}} %</td>
          <td>{{ record.risk | intcomma }}</td>
          <td>{{ record.rate_risk | floatformat:1 }} %</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:16.6%">CAGR</th>
          <th scope="col" style="width:16.6%">변동성</th>
          <th scope="col" style="width:16.6%">평균수익</th>
          <th scope="col" style="width:16.6%">수익표준편차</th>
          <th scope="col" style="width:16.6%">진입리스크</th>
          <th scope="col" style="width:16.6%">평균리스크</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ record.cagr | floatformat:1}} %</td>
          <td>{{ record.volatility| floatformat:1}} %</td>
          <td>{{ account.avg_profit | intcomma }}</td>
          <td>{{ account.std | intcomma }}</td>
          <td>{{ account.avg_entry_risk | intcomma}}</td>
          <td>{{ record.avg_risk | intcomma}}</td>
        </tr>
      </tbody>
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:16.6%">손익비</th>
          <th scope="col" style="width:16.6%">자본인하율</th>
          <th scope="col" style="width:16.6%">MDD</th>
          <th scope="col" style="width:16.6%">승률</th>
          <th scope="col" style="width:16.6%">매매횟수</th>
          <th scope="col" style="width:16.6%">평균보유기간</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ account.avg_ptr | floatformat:1}} : 1</td>
          <td>{{ record.drawdown | floatformat:1}} %</td>
          <td>{{ record.mdd | floatformat:1}} %</td>
          <td>{{ account.winning_rate | floatformat:1 }} %</td>
          <td>{{ account.count }}</td>
          <td>{{ account.duration }} 일</td>
        </tr>
      </tbody>
    </table>
  </div>
  </br>
  <div id="history" style="width:100%"></div>
</div>
{% endblock trading%}

{% block script %}
<script>
//매매내역 페이징
var movePage
(movePage = function (num) {
   $('#history').load("{% url 'futureshistory' system=account.id %}?page=" + num);
})(1)

//차트 그리기
Highcharts.setOptions({
		lang: { thousandsSep: ',' }
});
var chart = Highcharts.chart('profit-chart', {
            title: { text: '{{account.account_name}}' },
            xAxis: { 
                type: 'datetime',
            },
            yAxis: [{
                title: {text:"자산(원)"},
                lables: {
                  formatter: function () {
                        return this.value / 1000000;
                    }
                },
                height: '80%',
            },{
                  title: {text:"변동성(%)"},
                  top: '80%',
                  height: '20%',
                  offset: 0
            }],
            tooltip: {
              valueDecimals: 0,
              
              xDateFormat: '%Y-%m-%d',
              crosshairs: true,
              split: true,
            }
        });

$.get( "{% url 'chart' account=record.account_symbol %}", function( data ) {
     value= [];
     r_value=[]; //리스크 제거 자산가치
     volatility=[] //변동성
     for (item of data){
       date = new Date(item[0].slice(0,10)).getTime();
       value.push([date, parseInt(item[1])]);
       r_value.push([date,parseInt(item[2])]);
       volatility.push([date, parseInt(item[3])]);
     }
     chart.addSeries({ 
       name: "자산",
       data: value,
       yAxis: 0,
       tooltip: {valueSuffix: ' 원'},
       type: 'area',
       lineColor:'#ADD8E6',

       color: '#B0E0E6',
       marker: { enabled: false}
      });
     chart.addSeries({
       name: "위험제거자산",
       data: r_value,
       yAxis: 0,
       tooltip: {valueSuffix: ' 원'},
       type:'area',
       color:'#FFFFE0',
       lineColor: '#ADD8E6',
       marker: { enabled: false}
     });
     chart.addSeries({
       name: "변동성",
       data: volatility,
       yAxis:1,
       type: 'column',
       color: 'black',
       marker: { enabled: false}
     });
});
</script>
{% endblock script %}
