{% extends "base_trading.html"%}
{% load humanize %}
{% block trading %}

<div class="container">
  <ul class="nav nav-tabs">
  
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'futures' system=1 %}">System 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'futures' system=2 %}">System 2</a>
    </li>
  </ul>
</div>
</br>
<div class="container" id="system">
  <div class="container" id="chart" style="max-width: 800px;">
    <div class="row" id="profit-chart"></div>
  </div>
  <div class="row" id="summary">
    <table class="table table-bordered" style="text-align: center;">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:20%">원금</th>
          <th scope="col" style="width:20%">수익</th>
          <th scope="col" style="width:20%">수익률</th>
          <th scope="col" style="width:20%">평균손익비</th>
          <th scope="col" style="width:20%">승률</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&#8361; {{ system.principal | intcomma}}</td>
          <td>&#8361; {{ system.gross_return_krw| intcomma}}</td>
          <td>{{ system.gross_return_ratio | floatformat:2 }} %</td>
          <td>{{ system.average_ptr | floatformat:2 }} : 1</td>
          <td>{{ system.winning_rate | floatformat:1 }} %</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered" style="text-align: center;">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:16.6%">평균수익</th>
          <th scope="col" style="width:16.6%">표준편차</th>
          <th scope="col" style="width:16.6%">Draw Down</th>
          <th scope="col" style="width:16.6%">MDD</th>
          <th scope="col" style="width:16.6%">매매수</th>
          <th scope="col" style="width:16.6%">평균보유기간</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&#8361; {{ system.average_profit_krw | intcomma}}</td>
          <td>&#8361; {{ system.std_krw | intcomma}}</td>
          <td>{{ system.dd | floatformat:1 }} %</td>
          <td>{{ system.mdd | floatformat:1 }} %</td>
          <td>{{ system.count}}</td>
          <td>{{ system.duration}} 일</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" id="history"></div>
</div>
{% endblock trading%}

{% block script %}
<script>
//매매내역 페이징
var movePage
(movePage = function (num) {
   $('#history').load("{% url 'futureshistory' system=system.id %}?page=" + num);
})(1)

//차트 그리기
Highcharts.setOptions({
		lang: { thousandsSep: ',' }
});
var chart = Highcharts.stockChart('profit-chart', {
            title: { text: '해외선물 수동' },
            rangeSelector: {
              enabled:false
            },
            xAxis: { 
                type: 'datetime',
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                opposite: false,
                title: {
                    text: '백만원',
                },
                labels: {
                    formatter: function () {
                        return this.value / 1000000;
                    }
                },
               // min: 0
            },
            legend: {    
              enabled: false,
            },
            tooltip: {
              valueDecimals: 0,
              valueSuffix: ' 원',
              xDateFormat: '%Y-%m-%d',
              crosshairs: true,
              split: true,
            }
        });

$.get( "{% url 'futureschart' system=system.id %}", function( data ) {
     console.log(data)
     profit = [];
     commission = [];
     last_date = 0;
     for (item of data){
       date = new Date(item[0]).getTime();
       if (date != last_date){
         profit.push([date, parseInt(item[1]) + parseInt({{system.principal}})]);
         commission.push([date, parseInt(item[2])]);
       } else {
         profit[profit.length - 1] = [date, parseInt(item[1]) + parseInt({{system.principal}})]
       }
       last_date = date;
     }
     console.log(profit)

     chart.addSeries({ 
       name: "누적수익",
       data: profit,
       marker: { enabled: false}
      });
     chart.addSeries({
       name: "누적수수료",
       data: commission,
       marker: { enabled: false}
     });
});
</script>
{% endblock script %}
