{% extends "base_trading.html"%}
{% load humanize %}
{% block trading %}


<div class="container" id="system">
  <div class="container" id="chart" style="max-width: 800px;">
    <div class="row" id="profit-chart"></div>
  </div>
  </br>
  <div class="row" id="summary">
    <table class="table table-bordered" style="text-align: center;">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:20%">원금</th>
          <th scope="col" style="width:20%">보유현금</th>
          <th scope="col" style="width:20%">주식가치</th>
          <th scope="col" style="width:20%">수익</th>
          <th scope="col" style="width:20%">수익률</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&#8361; {{ summary.principal | intcomma}}</td>
          <td>&#8361; {{ summary.cash | intcomma}}</td>
          <td>&#8361; {{ summary.stock | intcomma}}</td>
          <td>&#8361; {{ summary.profit | intcomma}}</td>
          <td>{{ summary.rate_of_return | floatformat:2 }} %</td>
        </tr>
      </tbody>
    </table>

  </div>
  </br>
  <div class="row" id="history"></div>
</div>
{% endblock trading%}

{% block script %}
<script>
//매매내역 페이징
var movePage
(movePage = function (num) {
   $('#history').load("{% url 'stockhistory' %}?page=" + num);
})(1)


//차트 그리기
Highcharts.setOptions({
		lang: { thousandsSep: ',' }
});
var chart = Highcharts.stockChart('profit-chart', {
            title: { text: '주식/ETF' },
            rangeSelector: {
              enabled:false
            },
            xAxis: { 
                type: 'datetime',
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                opposite: false,
                title: {
                    text: '백만원',
                },
                labels: {
                    formatter: function () {
                        return this.value / 1000000;
                    }
                },
               // min: 0
            },
            legend: {    
              enabled: true,
            },
            tooltip: {
              valueDecimals: 0,
              valueSuffix: ' 원',
              xDateFormat: '%Y-%m-%d',
              crosshairs: true,
              split: true,
            }
        });

$.get( "{% url 'stockchart' %}", function( data ) {
     asset = [];
     last_date = 0;
     for (item of data){
       date = new Date(item[0]).getTime();
       profit = parseInt(item[1])+parseInt(item[2])
       
       if (date != last_date){
         asset.push([date, profit]);
       } else {
         asset[asset.length - 1] = [date, profit]
       }
       last_date = date;
     }

     chart.addSeries({ 
       name: "자산",
       data: asset,
       marker: { enabled: false}
      });
});
</script>
{% endblock script %}