{% extends "base_trading.html"%}
{% load humanize %}
{% block trading %}


<div class="row" id="system">
  <div style="width: 100%;">
    <div id="profit-chart" style="width:90%; margin: auto;"></div>
  </div>
  </br>
  <div id="summary" style="width:100%; margin-top: 40px">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:16.6%">원금</th>
          <th scope="col" style="width:16.6%">총자산</th>
          <th scope="col" style="width:16.6%">주식가치</th>
          <th scope="col" style="width:16.6%">잔고</th>
          <th scope="col" style="width:16.6%">수익</th>
          <th scope="col" style="width:16.6%">수익률</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ account.principal | intcomma}}</td>
          <td>{{ account.value| intcomma}}</td>
          <td>{{ account.value_stock | intcomma }}</td>
          <td>{{ account.balance | intcomma }}</td>
          <td>{{ record.gross_profit | intcomma}}</td>
          <td>{{ record.rate_profit | floatformat:1 }} %</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:14.3%">자본인하율</th>
          <th scope="col" style="width:14.3%">MDD</th>
          <th scope="col" style="width:14.3%">리스크</th>
          <th scope="col" style="width:14.3%">리스크율</th>
          <th scope="col" style="width:14.3%">변동성</th>
          <th scope="col" style="width:14.3%">배당금</th>
          <th scope="col" style="width:14.3%">수수료</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ record.drawdown| floatformat:1}} %</td>
          <td>{{ record.mdd| floatformat:1}} %</td>
          <td>{{ account.risk | intcomma }}</td>
          <td>{{ record.rate_risk | floatformat:1 }} %</td>
          <td>{{ record.volatility | floatformat:1}} %</td>
          <td>{{ account.dividends | intcomma }}</td>
          <td>{{ account.commission | intcomma }}</td>
        </tr>
      </tbody>
    </table>

    


  </div>
  </br>
  <div id="history" style="width:100%"></div>
</div>
{% endblock trading%}

{% block script %}
<script>
//매매내역 페이징
var movePage
(movePage = function (num) {
   $('#history').load("{% url 'stockhistory' %}?page=" + num);
})(1)


//차트 그리기

//차트 그리기
Highcharts.setOptions({
		lang: { thousandsSep: ',' }
});
var chart = Highcharts.chart('profit-chart', {
            legend: { enabled: false},
            title: { text: '주식/ETF' },
            xAxis: { 
                type: 'datetime',
            },
            yAxis: [{
                opposite:true,
                title: {text:"자산(원)"},
                lables: {
                  formatter: function () {
                        return this.value / 1000000;
                    }
                },
                height: '80%',
            },{
                opposite: true,
                title: {text:"변동성(%)"},
                top: '80%',
                height: '20%',
                offset: 0
            }],
            tooltip: {
              valueDecimals: 0,
              xDateFormat: '%Y-%m-%d',
              crosshairs: true,
              //split: true,
            },
            plotOptions: {
              series: {
                animation: false,
                marker: {enabled: false},
                states: {
                  inactive: { opacity: 1  }
                }
              }
            }
        });

$.get( "{% url 'chart' account=record.account_symbol %}", function( data ) {
    value= [];
     r_value=[]; //리스크 제거 자산가치
     volatility=[] //평균변동성
     volatility_day=[] //일변동성
     for (item of data){
       date = new Date(item[0].slice(0,10)).getTime();
       value.push([date, parseInt(item[1])]);
       r_value.push([date,parseInt(item[2])]);
       volatility_day.push([date, parseInt(item[3])]);
       volatility.push([date, parseInt(item[4])]);
     }

     chart.addSeries({ 
       name: "자산",
       data: value,
       tooltip: {valueSuffix: ' 원'},
       yAxis: 0,
       type: 'area',
       lineColor:'#ADD8E6',

       color: '#B0E0E6',
      });
     chart.addSeries({
       name: "위험제거자산",
       data: r_value,
       tooltip: {valueSuffix: ' 원'},
       yAxis: 0,
       type:'area',
       color:'#FFFFE0',
       lineColor: '#ADD8E6',
     });
     chart.addSeries({
       name: "일변동성",
       data: volatility_day,
       yAxis:1,
       type: 'column',
       color: 'black',
     });
     chart.addSeries({
       name: "평균 변동성",
       data: volatility,
       yAxis:1,
       type: 'line',
       color:'tomato',
     });
});
</script>
{% endblock script %}