{% extends "base_trading.html"%}
{% load humanize %}

{% block trading %}
<!-- Daily Asset Chart-->
<div class="asset">
    <div id="asset-chart"></div>
</div>
<!-- Current Asset -->
<table class="table" style="text-align: center;">
        <thead class="thead-light">
          <tr>
            <th scope="col">분류</th>
            <th scope="col">종류</th>
            <th scope="col">잔액</th>
            <th scope="col">합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" rowspan="3" style="vertical-align : middle;text-align:center;">현금</th>
            <td>KRW</td><td>&#8361;{{ cash.last.krw | intcomma}}</td>
            <td rowspan="3" style="vertical-align : middle;text-align:center;">&#8361;{{cash.last.total | intcomma}} </td>
          </tr>
          <tr>
            <td>CNY</td>
            <td>{% if cash.last.cny %} &#165;{{ cash.last.cny | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <td>USD</td>
            <td>&#36;{{ cash.last.usd | intcomma}}</td>
          </tr>
          <tr>
            <th scope="row" rowspan="2" style="vertical-align : middle;text-align:center;">주식현물</th>
            <td>Stock</td>
            <td>{% if equity.last.stocks %} &#8361;{{ equity.last.stocks | intcomma}} {% endif %}</td>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">
                {% if equity.last.total %} &#8361;{{ equity.last.total | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <td>ETF</td>
            <td>{% if equity.last.etfs %} &#8361;{{ equity.last.etfs | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <th scope="row" rowspan="2" style="vertical-align : middle;text-align:center;">선물</th>
            <td>USD</td>
            <td>{% if futures.last.futures_in_usd %} &#36;{{ futures.last.futures_in_usd | intcomma}} {% endif %}</td>
            <td rowspan="2" style="vertical-align : middle;text-align:center;"> 
                {% if futures.last.total %} &#8361;{{ futures.last.total | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <td>KRW</td>
            <td>{% if futures.last.futures_in_krw %} &#8361;{{ futures.last.futures_in_krw | intcomma}} {% endif %}</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td><mark>&#8361;{{total | intcomma}}</mark></td>
          </tr>
        </tbody>
</table>
      
{% endblock trading%}

