{% extends "trading/base_trading.html"%}
{% load humanize %}
{% block content1 %}
  <div class="row" style='width:60%;margin:0 auto;'>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {% if active == 'futures' %}active{% endif %}" href="{% url 'futures' %}">통계</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active == 'trade' %}active{% endif %}" href="{% url 'futurestrade' page=1 %}">거래내역</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active == 'transaction' %}active {% endif %}" href="{% url 'transaction' page=1 %}">체결 내역</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active == 'calculator' %}active {% endif %}" href="{% url 'calculator' %}">계산기</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active == 'cftc' %}active {% endif %}" href="{% url 'cftc' %}">CFTC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active == 'opstrat' %}active {% endif %}" href="{% url 'opstrat' %}">합성전략</a>
      </li>
    </ul>
  </div>
</br>
{% endblock content1 %}
