{% extends "trading/futures/base.html"%}
{% load humanize %}
{% block content2 %}

<div class="row" id="system">
  <div style="width:100%">
    <div id="profit-chart" style="margin: auto;"></div>
  </div>
  <div id="summary" style="width:100%; margin-top: 40px">
    <div>
      
      <div style="float: right;"> 업데이트: {{record.date | date:"Y-m-d H:i"}}</div>
    </div>
      <table class="table table-bordered">
          <tr class="table-secondary">
            <th scope="col" style="width:16.6%">원금</th>
            <th scope="col" style="width:16.6%">총자산</th>
            <th scope="col" style="width:16.6%">수익</th>
            <th scope="col" style="width:16.6%">KRW</th>
            <th scope="col" style="width:16.6%">USD</th>
            <th scope="col" style="width:16.6%">EUR</th>
          </tr>
          <tr>
            <td>{{ account.principal | intcomma}}</td>
            <td>{{ account.value| intcomma}}</td>
            <td>{{ account.gross_profit | intcomma}}</td>
            <td>{{ account.principal_krw | intcomma }}</td>
            <td>&dollar;{{ account.value_usd | intcomma}}</td>
            <td>&euro;{{ account.value_eur | intcomma }}</td>
          </tr>
      </table>

      <table class="table table-bordered">
          <tr class="table-secondary">
            <th scope="col" style="width:16.6%">수익률</th>
            <th scope="col" style="width:16.6%">리스크</th>
            <th scope="col" style="width:16.6%">리스크율</th>
            <th scope="col" style="width:16.6%">CAGR</th>
            <th scope="col" style="width:16.6%">자본인하율</th>
            <th scope="col" style="width:16.6%">MDD</th>
          </tr>
          <tr>
            <td>{{ record.rate_profit| floatformat:1}} %</td>
            <td>{{ account.risk | intcomma }}</td>
            <td>{{ record.rate_risk | floatformat:1 }} %</td>
            <td>{{ record.cagr | floatformat:1}} %</td>
            <td>{{ record.drawdown | floatformat:1}} %</td>
            <td>{{ record.mdd | floatformat:1}} %</td>
          </tr>
          </tr>
          <tr class="table-secondary">
            <th scope="col" style="width:16.6%">진입리스크</th>
            <th scope="col" style="width:16.6%">평균수익</th>
            <th scope="col" style="width:16.6%">손익비</th>
            <th scope="col" style="width:16.6%">승률</th>
            <th scope="col" style="width:16.6%">수수료</th>
            <th scope="col" style="width:16.6%">평균보유기간</th>
          </tr>
          <tr>
            <td>{{ account.avg_entry_risk  | intcomma }}</td>
            <td>{{ account.avg_profit | intcomma }}</td>
            <td>{{ account.avg_ptr | floatformat:1}} : 1</td>
            <td>{{ account.winning_rate | floatformat:1 }} %</td>
            <td>{{ account.commission | intcomma }}</td>
            <td>{{ account.duration }} 일</td>
          </tr>
      </table>

      <h5 style="margin-top:20px;"> 기간별 통계 </h5>
    <div style="float:left;padding-bottom:10px;">
      <input type="number" placeholder="기간(20일)" id="duration" style="height:25px">
      <select placeholder="전략" id="strategy" style="width:200px;height:25px;">
        <option value=''> 전략 </option>
        {% for strategy in strategies%}
        <option value={{strategy.id}}> {{ strategy.name }} </option>
        {% endfor %}
      </select>
      <button id="durationbtn" style="border-width: thin;">Run</button>
    </div>
    <table class="table table-bordered">
        <tr>
          <th scope="col" class="table-secondary" style="width:16.6%">누적손익</th>
          <td scope="col" style="width:16.6%" id='gross_profit'></td>
          <th scope="col" class="table-secondary" style="width:16.6%">순손익</th>
          <td scope="col" style="width:16.6%" id='net_profit'></td>
          <th scope="col" class="table-secondary" style="width:16.6%">승률</th>
          <td scope="col" style="width:16.6%" id='winrate'></td>
        </tr>
        <tr>
          <th scope="col" class="table-secondary table-bordered" style="width:16.6%">누적수익</th>
          <td scope="col" style="width:16.6%" id='cum_profit'></td>
          <th scope="col" class="table-secondary" style="width:16.6%">누적손실</th>
          <td scope="col" style="width:16.6%" id='cum_loss'></td>
          <th scope="col" class="table-secondary" style="width:16.6%">손익비</th>
          <td scope="col" style="width:16.6%" id='pnl_per_trade'></td>
        </tr>
        <tr>
          <th scope="col" class="table-secondary" style="width:16.6%">일평균 손익</th>
          <td scope="col" style="width:16.6%" id='avg_profit_day'></td>
          <th scope="col" class="table-secondary" style="width:16.6%">매매당 손익</th>
          <td scope="col" style="width:16.6%" id='avg_profit_trade'></td>
          <th scope="col" class="table-secondary" style="width:16.6%">손익 표준편차</th>
          <td scope="col" style="width:16.6%" id='avg_profit_std'></td>
        </tr>
        <tr>
          <th scope="col" class="table-secondary" style="width:16.6%">일평균 매매횟수</th>
          <td scope="col" style="width:16.6%" id='avg_trade_day'></td>
          <th scope="col" class="table-secondary" style="width:16.6%">누적 수수료</th>
          <td scope="col" style="width:16.6%" id='cum_commission'></td>
          <th scope="col" class="table-secondary" style="width:16.6%">일 평균 수수료</th>
          <td scope="col" style="width:16.6%" id='avg_commision'></td>
        </tr>
    </table>
  </div>
  </br>

  <div id="history" style="width:100%"></div>
</div>
{% endblock content2%}

{% block script %}

<script>
//데이터 요청 ajax call
(RequestStatData = function(filter){
  
  $.ajax({
    url: "{% url 'statdata' %}",
    type: "get", //send it through get method
    data: filter,
    success: function(response) {
      console.log(response)
    },
    error: function(xhr) {
      //Do Something to handle error
    }
  });
})();

//차트 그리기
Highcharts.setOptions({
		lang: { thousandsSep: ',' }
});
var chart = Highcharts.chart('profit-chart', {
            chart: { height: '75%' },// 16:9 ratio}
            legend: { enabled: false},
            title: { text: "{{ account.account_name }}" },
            xAxis: { 
                type: 'datetime',
                crosshair:{
                  zIndex: 10,
                }
            },
            yAxis: [{
                title: {text:"수익(원)"},
                labels: {
                  align: 'left',
                  x: 2,
                },
                plotLines: [{
                  color:'#808080',
                  width: 1,
                  value: 0,
                  zIndex: 8,
                  dashStyle: 'dash',

                }],
                lineColor: 'lightgrey',
                lineWidth: 2,
                height: '60%',
            },{
                //opposite: true,
                title: {text: "원금(원)"},
                labels: {
                  enabled: false,
                },
                lineColor: 'lightgrey',
                lineWidth: 2,
                top: '63%',
                height: '22%',
                offset: 0,
                margin: 300
            },{
                //opposite: true,
                title: {text:"변동성(%)"},
                labels: {
                  enabled: false,
                },
                lineColor: 'lightgrey',
                lineWidth: 2,
                top: '87%',
                height: '13%',
                offset: 0
            }],
            tooltip: {
              valueDecimals: 0,
              xDateFormat: '%Y-%m-%d',
              crosshairs: true,
              //split: true,
            },
            plotOptions: {
              series: {
                animation: false,
                marker: {
                  enabled: false,
                  radius: 2,
                  symbol: 'circle',
                },
                states: {
                  inactive: { opacity: 1  }
                }
              }
            }
        });

$.get( "{% url 'chart' account=record.account_symbol %}", function( data ) {
     value= [];
     r_value=[]; //리스크 제거 자산가치
     volatility=[] //평균변동성
     volatility_day=[] //일변동성
     principal = [] //원금
     for (item of data){
       date = new Date(item[0].slice(0,10)).getTime();
       value.push([date, parseInt(item[1])-item[5]]);
       r_value.push([date,parseInt(item[2])-item[5]]);
       volatility_day.push([date, parseInt(item[3])]);
       volatility.push([date, parseInt(item[4])]);
       principal.push([date, parseInt(item[5])]);
     }

     chart.addSeries({ 
       name: "수익",
       data: value,
       yAxis: 0,
       tooltip: {valueSuffix: ' 원'},
       type: 'area',
       lineColor:'#ADD8E6',
       color: '#B0E0E6',
       zIndex: 5,
       //marker: { enabled: false}
      });
     chart.addSeries({
       name: "위험제거수익",
       data: r_value,
       yAxis: 0,
       tooltip: {valueSuffix: ' 원'},
       type:'area',
       color:	'#EEE8AA', //#FFFFE0',
       //lineColor: '#ADD8E6',
       //marker: { enabled: false}
     });
     chart.addSeries({ 
       name: "원금",
       data: principal,
       yAxis: 1,
       //enableMouseTracking: false,
       //dashStyle: 'dash',
       type: 'line',
       lineColor:'#808080',
      });
     chart.addSeries({
       name: "일변동성",
       data: volatility_day,
       yAxis:2,
       type: 'column',
       color: 'black',
       //marker: { enabled: false}
     });
     chart.addSeries({
       name: "평균 변동성",
       data: volatility,
       yAxis:2,
       type: 'line',
       color:'tomato',
       //marker: { enabled: false}
     });
});
</script>
{% endblock script %}
