{% extends "trading/futures/base.html"%}
{% load humanize %}
{% block content2 %}

<div class="row" id="system">
  <div style="width:100%">
    <div id="profit-chart" style="display:flex;justify-content:center"></div>
  </div>
  <div id="summary" style="width:100%; margin-top: 40px">
    <div>
      <table class="table table-bordered table-sm">
        <tr>
          <td style="width:10%;"> 시작 </td>
          <td style="width:10%;"> 종료 </td>
          <td style="width:5%;"> 멘탈 </td>
          <td style="width:15%;"> 진입 </td>
          <td style="width:15%;"> 청산 </td>
          <td style="width:10%;"> 태그 </td>
          <td style="width:10%;"> 기간 </td>
          <td style="width:8%;">  </td>
        </tr>
        <tr>
          <td> <input type="date" class="date" id='start' name="start"> </td>
          <td> <input type="date" class="date" id='end' name="end"> </td>
          <td> <select name="mental" id='mental'>
            <option value=''>    </option>
            <option value='Good'> Good </option>
            <option value='Normal'> Normal </option>
            <option value='Bad'> Bad </option>
            </select>
          </td>
          <td> <select id="entry_strategy" name="entry_strategy">
            <option value=''> </option>
            {% for strategy in entry_strategies%}
            <option value='{{strategy.id}}'> {{ strategy.name }} </option>
            {% endfor %}
            </select>
          </td>
          <td> <select id="exit_strategy" name="exit_strategy">
            <option value=''> </option>
            {% for strategy in exit_strategies%}
            <option value='{{strategy.id}}'> {{ strategy.name }} </option>
            {% endfor %}
            </select>
          </td>
          <td> 
            <input type="text" id='tags' name="tags" style='width:100px;'>
          </td>
          <td><select id='timeframe' name="timeframe">
            <option value=''>    </option>
            <option value='scalping'> Scalping </option>
            <option value='day'> Day </option>
            <option value='swing'> Swing </option>
            <option value='longterm'> Long term </option>
            </select>
          </td>
          <td>
            <input type="submit" value="조회" onclick="requestStatData('part');">
          </td>
        </tr>
      </table>
      
    </div>
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th scope="col" style="width:20%">총자산</th>
          <th scope="col" style="width:20%">원금</th>
          <th scope="col" style="width:20%">누적손익</th>
          <th scope="col" style="width:20%">수수료</th>
          <th scope="col" style="width:20%">순손익</th>
        </tr>
        <tr>
          <td id="value"></td>
          <td id="principal"></td>
          <td id="revenue"></td>
          <td id="commission"></td>
          <td id="profit"></td>
        </tr>
        <tr class="table-secondary">
          <th scope="col" style="width:20%">수익률</th>
          <th scope="col" style="width:20%">자본인하율</th>
          <th scope="col" style="width:20%">MDD</th>
          <th scope="col" style="width:20%">CAGR</th>
          <th scope="col" style="width:20%">매매횟수</th>
        </tr>
        <tr>
          <td id="roe"></td>
          <td id="dd"></td>
          <td id="mdd"></td>
          <td id="cagr"></td>
          <td id="num_trades"></td>
        </tr>
        <tr class="table-secondary">
          <th scope="col" style="width:20%">평균손익</th>
          <th scope="col" style="width:20%">손익표준편차</th>
          <th scope="col" style="width:20%">승률</th>
          <th scope="col" style="width:20%">손익비</th>
          <th scope="col" style="width:20%">수수료율</th>
        </tr>
        <tr>
          <td id="avg_profit"></td>
          <td id="std_profit"></td>
          <td id="win_rate"></td>
          <td id="pnl"></td>
          <td id="comm_ratio"></td>
        </tr>
      </table>

      <table class="table table-bordered">
        <tr class="table-secondary">
          <th scope="col" style="width:20%">누적손익(원)</th>
          <th scope="col" style="width:20%">누적수익(원)</th>
          <th scope="col" style="width:20%">수익평균(원)</th>
          <th scope="col" style="width:20%">누적손실(원)</th>
          <th scope="col" style="width:20%">손실평균(원)</th>
        </tr>
        <tr>
          <td id="revenue_2"></td>
          <td id="win"></td>
          <td id="avg_win"></td>
          <td id="loss"></td>
          <td id="avg_loss"></td>
        </tr>
        <tr class="table-secondary">
          <th scope="col" style="width:20%">누적손익(틱)</th>
          <th scope="col" style="width:20%">누적수익(틱)</th>
          <th scope="col" style="width:20%">수익평균(틱)</th>
          <th scope="col" style="width:20%">누적손실(틱)</th>
          <th scope="col" style="width:20%">손실평균(틱)</th>
        </tr>
        <tr>
          <td id="revenue_ticks"></td>
          <td id="win_ticks"></td>
          <td id="avg_win_ticks"></td>
          <td id="loss_ticks"></td>
          <td id="avg_loss_ticks"></td>
        </tr>
      </table>

  </br>
  <div id="history" style="width:100%"></div>
</div>
{% endblock content2%}

{% block script %}

<script>
//차트 그리기
Highcharts.setOptions({
		lang: { thousandsSep: ',' }
});
var chart = Highcharts.chart('profit-chart', {
            chart: { height: '600', width:'900' },// 16:9 ratio}
            legend: { enabled: false},
            title: { text: "Profit Curve" },
            xAxis: { 
                type: 'datetime',
                crosshair:{
                  zIndex: 10,
                }
            },
            yAxis: [{
                title: {text:"수익(원)"},
                labels: {
                  align: 'left',
                  x: 2,
                },
                plotLines: [{
                  color:'#808080',
                  width: 1,
                  value: 0,
                  zIndex: 8,
                  dashStyle: 'dash',

                }],
                lineColor: 'lightgrey',
                lineWidth: 2,
                height: '50%',
            },{
              //opposite: true,
              title: {text:"수익(일)"},
              labels: {
                enabled: false,
              },
              lineColor: 'lightgrey',
              lineWidth: 2,
              top: '51%',
              height: '19%',
              offset: 0,
              margin: 300
          },{
                //opposite: true,
                title: {text:"변동성(%)"},
                labels: {
                  enabled: false,
                },
                lineColor: 'lightgrey',
                lineWidth: 2,
                top: '71%',
                height: '14%',
                offset: 0,
                margin: 300
            }, {
              //opposite: true,
              title: {
                text: "거래량"
              },
              labels: {
                enabled: false
              },
              lineColor: 'lightgrey',
              lineWidth: 2,
              top: '86%',
              height: '14%',
              offset: 0,
            }],
            tooltip: {
              valueDecimals: 0,
              xDateFormat: '%Y-%m-%d',
              crosshairs: true,
              //split: true,
            },
            plotOptions: {
              series: {
                animation: false,
                marker: {
                  enabled: false,
                  radius: 2,
                  symbol: 'circle',
                },
                states: {
                  inactive: { opacity: 1  }
                }
              },
              column: {
                zones: [{
                    value: 0, // Values up to 10 (not including) ...
                    color: 'red' // ... have the color blue.
                },{
                    color: 'black' // Values from 10 (including) and up have the color red
                }]
              }
            }
        });

(requestStatData = function(arg){
  if (arg == 'all'){
    filter = '';
  } else if(arg == 'part'){
    filter = {
      start: $('#start').val(),
      end: $('#end').val(),
      mental: $('#mental').val(),
      entry_strategy: $('#entry_strategy').val(),
      exit_strategy: $('#exit_strategy').val(),
      tags: $('#tags').val(),
      timeframe: $('#timeframe').val(),
      pnl:$('#timeframe').val()
    }
  }

  $.ajax({
    url: "{% url 'statdata' %}",
    type: "get", //send it through get method
    data: filter,
    success: function(data) {
      $('#value').text((data.value).toLocaleString('en-US', {maximumFractionDigits: 0,style: 'currency', currency: 'KRW' }));
      $('#principal').text(data.principal.toLocaleString('en-US', {maximumFractionDigits: 0,style: 'currency', currency: 'KRW' }));
      $('#revenue').text(data.revenue.toLocaleString('en-US', {maximumFractionDigits: 0,style: 'currency', currency: 'KRW' }));
      $('#profit').text(data.profit.toLocaleString('en-US', {maximumFractionDigits: 0,style: 'currency', currency: 'KRW' }));
      $('#loss').text(data.loss+'원');
      $('#commission').text(data.commission.toLocaleString('en-US', {maximumFractionDigits: 0,style: 'currency', currency: 'KRW' }));
      $('#roe').text(data.roe.toFixed(2)+' %');
      $('#num_trades').text(data.num_trades);
      $('#avg_profit').text(data.avg_profit.toLocaleString('en-US', {maximumFractionDigits: 0,style: 'currency', currency: 'KRW' }));
      $('#std_profit').text(data.std_profit.toLocaleString('en-US', {maximumFractionDigits: 0,style: 'currency', currency: 'KRW' }));
      $('#win_rate').text(data.win_rate.toFixed(2)+'%');
      $('#pnl').text(data.pnl.toFixed(2)+' : 1');
      $('#cagr').text(data.cagr.toFixed(2));

      $('#revenue_2').text(data.revenue.toLocaleString('en-US', {maximumFractionDigits: 0}));
      $('#win').text(data.win.toLocaleString('en-US', {maximumFractionDigits: 0}));
      $('#avg_win').text(data.avg_win.toLocaleString('en-US', {maximumFractionDigits: 0 }));
      $('#loss').text(data.loss.toLocaleString('en-US', {maximumFractionDigits: 0 }));
      $('#avg_loss').text(data.avg_loss.toLocaleString('en-US', {maximumFractionDigits: 0 }));

      $('#revenue_ticks').text(data.revenue_ticks.toFixed(1));
      $('#win_ticks').text(data.win_ticks.toFixed(1));
      $('#avg_win_ticks').text(data.avg_win_ticks.toFixed(1));
      $('#loss_ticks').text(data.loss_ticks.toFixed(1));
      $('#avg_loss_ticks').text(data.avg_loss_ticks.toFixed(1));

      //console.log(data);
      //차트 데이터 
      profit = data.principal;
      max_profit = profit;
      mdd = 0
      commission =0;
      cum_profit = [];
      day_profit = [];
      cum_commission = [];
      volatility = [];
      volume = [];
      console.log(data);
      for (item of data.chart_data){
        
        date = new Date(item[0]).getTime();
        //누적수익: 시드+수익-수수료
        last_profit = profit;
        profit += item[1]-item[2];

        cum_profit.push([date, profit]);
        day_profit.push([date, item[1]-item[2]]);
        volatility.push([date, Math.abs(profit/last_profit-1)*100]);
        volume.push([date, item[3]]);

        commission += item[2];
        cum_commission.push([date, commission]);


        // dd and mdd 계산
        if (profit >= max_profit) { max_profit = profit; };
        dd = (1 - profit/max_profit)*100;
        if (dd >= mdd){ mdd = dd; };
      }
      $('#dd').text(dd.toFixed(2)+'%');
      $('#mdd').text(mdd.toFixed(2)+'%');
      $('#comm_ratio').text((100*commission/(profit-data.principal)).toFixed(1)+'%');
      //기존차트 데이터 삭제
      while(chart.series.length > 0)
        chart.series[0].remove(true);

      chart.addSeries({ 
        name: "자산",
        data: cum_profit,
        yAxis: 0,
        tooltip: {valueSuffix: ' 원'},
        type: 'line',
        lineColor:'blue',
        zIndex: 5,
        //marker: { enabled: false}
       });
       chart.addSeries({ 
        name: "수익",
        data: day_profit,
        yAxis: 1,
        tooltip: {valueSuffix: ' 원'},
        type: 'column',
        zIndex: 5,
        //marker: { enabled: false}
       });
       chart.addSeries({
        name: "수수료",
        data: cum_commission,
        yAxis: 0,
        tooltip: {valueSuffix: ' 원'},
        type:'line',
        color:	'grey', //#FFFFE0',
        zIndex: 10,
      });
      chart.addSeries({
        name: "변동성",
        data: volatility,
        yAxis: 2,
        tooltip: {valueSuffix: '%', valueDecimals: 1},
        type: 'line',
        color: 'purple',
        //marker: { enabled: false}
      });
      chart.addSeries({
        name: "거래량",
        data: volume,
        yAxis: 3,
        type: 'column',
        color: 'black',
        //marker: { enabled: false}
      });
    }
  });
})('all');
</script>
{% endblock script %}
