{% extends "trading/futures/base.html"%}
{% load humanize %}
{% load static %}

{% block css %}
<style>
.chart-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}
.chart-box {
  width: calc(50% - 10px); /* 두 개씩 */
  min-width: 300px;
  height: 400px;
  border: 1px solid #ddd;
  padding: 10px;
}
</style>
  
{% endblock css %}


{% block content2 %}
<div style='display:flex; justify-content:center'><p>업데이트 : {{lastdate|date:"Y년 m월 d일 H:i" }}</p></div>

<div class="chart-grid" id="charts-container">
    {% for chart in charts_data %}
       <div class="chart-box" id="chart-{{ forloop.counter0 }}"></div>
    {% endfor %}
</div>
{% endblock content2%}


{% block script %}

<script>

//데이터 가져오기
const charts = {{ chart_data|safe }};
const container = document.getElementById('charts-container');
/*
Highcharts.setOptions({
    time: {
      timezoneOffset: -540  // 한국: UTC+9 → -9 * 60 = -540
    }
});
*/

charts.forEach((chart, index) => {
    // DOM 만들기
    const div = document.createElement('div');
    div.id = `chart-${index}`;
    div.style.height = '500px';
    div.style.marginBottom = '40px';
    container.appendChild(div);

    // 차트 그리기
    Highcharts.stockChart(div.id, {
        rangeSelector: {
          enabled: false // 범위 선택기 제거
        },
        navigator: {
          enabled: false // 아래 미니맵 제거
        },
        scrollbar: {
          enabled: false // 스크롤바 제거
        },
        chart: {
            zooming: {
                type: 'x',
                resetButton: {
                    position: {
                        //align: 'left', // by default
                        // verticalAlign: 'top', // by default
                        x: 5,
                        y: -50
                    }
                }
            }
        },
        title: { text: chart.title },
        subtitle: {
          text: chart.lastdate
        },
        xAxis: {
          type: 'datetime',
          ordinal: true // x축 날짜 형식
        },
        yAxis: [
          {
            title: { text: '보유수량' }, // index 0: 위쪽
            height: '40%',
            lineWidth: 2,
            opposite: false,
          },
          {
            title: { text: '수량변화' }, // index 1: 중간
            top: '42%',
            height: '28%',
            offset: 0,
            lineWidth: 2,
            opposite: false,
          },
          {
            title: { text: '백분율(%)' }, // index 2: 아래쪽
            top: '72%',
            height: '28%',
            offset: 0,
            max: 100, // 비율 100%
            opposite: false
          }
        ],
        resetZoomButton: {
          position: {
            align: 'left', // 'left', 'center' 도 가능
            verticalAlign: 'bottom', // 'bottom'도 가능
            x: -10,
            y: 10
          },
          theme: {
            zIndex: 10 // 혹시 다른 요소랑 겹칠 경우
          }
        },
        tooltip: {
          shared: true,
          crosshairs: false,
          enabled:false, // 툴팁 비활성화
          backgroundColor: 'rgba(255, 255, 255, 0.9)'  // tooltip 배경색 지정 (선택 사항)

        },
        plotOptions: {
            series: {
              allowPointSelect: false, // 포인트 선택 비활성화
              
              dataGrouping: {
                enabled: false
              },
              states: {
                hover: {
                  enabled: false // 마우스 호버 시 하이라이트 비활성화
                },
                inactive: {
                  opacity: 1, // 비활성화 상태일 때의 투명도를 1로 설정하여 희미해지는 효과를 방지
                  enabled: false // 다른 시리즈 비활성화 방지
                },
              },
            },
            line: {
              marker: {
                enabled: false,
                states: {
                  select: {
                    enabled: false // 마커 선택 비활성화
                  }
                }
              }
            },
            column: {
              stacking: 'normal',
              borderRadius: 0,
              dataLabels: {
                enabled: false // 데이터 레이블 비활성화
              }
            },
           
          },
        series: chart.series
      });
  });
</script>
{% endblock script %}
