{% extends "trading/futures/base.html"%}
{% load humanize %}
{% block content2 %}
<div class="row" style="width:60%; margin: 0 auto;">
  <table class='table table-bordered' style='width:50%;'><tbody><tr>
    <td style='width:30%;'>종목</td>
    <td style='width:70%;'>
    <select class="form-select" id='instruments' onchange="select(this);">
      <option value=""></option>  
    </select>
    </td>
  </tr></tbody></table>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th colspan=3>
              <p style='display:inline;margin-right:10px;'>선물</p>
              <div style='display:inline;float:right;'>
                <button onclick="FuturesRow('add');">&#43;</button>
                <button onclick="FuturesRow('delete');">&#8722;</button>
              </div>
        </th>
      </tr>
      <tr>
        <th style='width:30%'>포지션</th><th style='width:30%'>가격</th><th style='width:30%'>수량</th>
      </tr>
    </thead>
    <tbody id='futuresbody'>
      <tr class='futuresrow item'>
        <td> <select class='position'>
          <option value="1">Long</option>
          <option value="-1">Short</option>
        </select></td>
        <td><input type="number" class='price'></td>
        <td><input type="number" class='lots'></td>
      </tr>
    </tbody>
  </table>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th colspan=5>
              <p style='display:inline;margin-right:10px;'>옵션</p>
              <div style='display:inline;float:right;'>
                <button onclick="optionRow('add');">&#43;</button>
                <button onclick="optionRow('delete');">&#8722;</button>
              </div>
        </th>
      </tr>
      <tr>
        <th style='width:20%'>종류</th>
        <th style='width:20%'>포지션</th>
        <th style='width:20%'>행사가</th>
        <th style='width:20%'>가격</th>
        <th style='width:20%'>수량</th>
      </tr>
    </thead>
    <tbody id='optionbody'>
      <tr class='optionrow item'>
        <td> <select class='type'>
            <option value="call">Call</option>
            <option value="put">Put</option>
            </select>
        </td>
        <td><select class='position'>
          <option value="1">Long</option>
          <option value="-1">Short</option>
        </select></td>
        <td><input type="number" class='strike'></td>
        <td><input type="number" class='price'></td>
        <td><input type="number" class='lots'></td>
      </tr>
    </tbody>
  </table>
  <div>
    <button style="float:right;" onclick="calculate();">계산</button>
  </div>
  <div>
    <div id='optionstrategychart' style='height:450px;'></div>
  </div>

</div>


<script>
var selected;
const instruments = {{ instruments |safe}};
instruments.forEach(function(instrument,i){
  let op = `<option value=${i}>${instrument.fields.name}</option>`
    $('#instruments').append(op);
});

var select = function(el){
  selected = instruments[el.selectedIndex-1].fields;
}

var calculate = function(){
    let port = {'futures':[], 'option':[] };
    $('.futuresrow').each(function(i,v){
      let position = Number($(v).find('.position').val());
      let price = Number($(v).find('.price').val());
      let lots = Number($(v).find('.lots').val());

      if ( price != 0  & lots != 0 ){
        port.futures.push([position, price, lots]);
      };
    });

    $('.optionrow').each(function(i,v){
      let type = $(v).find('.type').val();
      let position = Number($(v).find('.position').val());
      let price = Number($(v).find('.price').val());
      let lots = Number($(v).find('.lots').val());
      let strike = Number($(v).find('.strike').val());

      if ( price != 0  & lots != 0 & strike != 0){
        port.option.push([type, position, strike, price, lots]);
      };
    });
    
    if (selected != undefined & ( port.option.length > 0 | port.futures.length > 0 )  ) {
      createProfitCurve(port);
    }
};

var createProfitCurve = function(port){
  let tickunit = Number(selected.tickunit);
  let tickprice = Number(selected.tickprice);
  let dp = selected.decimal_places;
  let x = [];
  let min;
  let max;
  if (port.option.length > 0 ){
    min = port.option.reduce((prev, curr) => prev[2] < curr[2] ? prev : curr)[2];
    max = port.option.reduce((prev, curr) => prev[2] > curr[2] ? prev : curr)[2];
  } else {
    min = port.futures.reduce((prev, curr) => prev[1] < curr[1] ? prev : curr)[1];
    max = port.futures.reduce((prev, curr) => prev[1] > curr[1] ? prev : curr)[1];
  };


  
  for (let i=min-tickunit*2000; i<max+tickunit*2000 ; i+=tickunit) {
          x.push(Math.round(i*Math.pow(10,dp))/Math.pow(10,dp));
  }

  let data = [];
  x.forEach(function(lastprice){
    let profit = 0;
    for (item of port.futures){
      profit += futuresProfit(item, lastprice);
    };
    for (item of port.option){
      profit += optionProfit(item, lastprice);
    }
    
    data.push([lastprice,profit]);
  });

  optionstrategychart.series[0].update({
    'data':data
  })

}

var optionProfit = function(item, lastprice){
  let type = item[0];
  let position = item[1];
  let strike = item[2];
  let price = item[3]
  let lots = item[4];
  if (type == 'call'){
    if (lastprice <= strike){
      return -price*selected.tickprice/selected.tickunit*lots*position;
    } else {
      return  ((lastprice - strike) - price) * selected.tickprice/selected.tickunit*lots*position; 
    };
  } else if (type == 'put'){
    if (lastprice >= strike){
      return -price*selected.tickprice/selected.tickunit*lots*position;
    } else {
      return  ((strike-lastprice) - price) * selected.tickprice/selected.tickunit*lots*position; 
    };
  };

}

var futuresProfit = function(item, lastprice){
      return item[0]*(lastprice - item[1])*item[2]*(selected.tickprice/selected.tickunit);
};



var FuturesRow = function(type){
  if (type=='add'){
    let row=`<tr class='futuresrow item'>
      <td> <select class='position'>
        <option value="1">Long</option>
        <option value="-1">Short</option>
      </select></td>
      <td><input type="number" class='price'></td>
      <td><input type="number" class='lots'></td>
    </tr>`
    $(`#futuresbody`).append(row);
  } else if (type=='delete'){
    $('.futuresrow').last().remove();
  }

};

var optionRow = function(type){
  if (type=='add'){
    let row = ` <tr class='optionrow item'>
      <td> <select class='type'>
          <option value="call">Call</option>
          <option value="put">Put</option>
          </select>
      </td>
      <td><select class='position'>
        <option value="1">Long</option>
        <option value="-1">Short</option>
      </select></td>
      <td><input type="number" class='strike'></td>
      <td><input type="number" class='price'></td>
      <td><input type="number" class='lots'></td>
    </tr>`;
    $(`#optionbody`).append(row);
  } else if (type == 'delete'){
    $('.optionrow').last().remove();
  }
};


var optionstrategychart = Highcharts.chart('optionstrategychart', {
  credits: {
    enabled: false
  },
  title: {
      text: 'Profit Curve',
  },
  yAxis:{
    plotLines: [{
      color: 'black',
      width: 2,
      value: 0
    }]
  },
  xAxis:{
    crosshair: true
  },
  tooltip: {
    valueDecimals: 0,
  },
  series: [
    {name: 'profit', color:'blue', lineWidth:2 },
  ]
});

</script>
{% endblock content2 %}

