{% extends "trading/futures/base.html"%}
{% load humanize %}
{% block content2 %}

  {% if is_paginated %}
    <nav aria-label="Page navigator">
      <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item {% if page_obj.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="{% url 'transaction' page=1 %}" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item {% if page_obj.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="{% url 'transaction' page=page_obj.previous %}" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>
        {% for page in page_obj.rng %}
          {% if page_obj.page == page %}
            <li class="page-item active">
              <a class="page-link" href="">{{page}}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="{% url 'transaction' page=page %}">{{page}}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="page-item {% if page_obj.page == page_obj.num_page %}disabled{% endif %}">
          <a class="page-link" href="{% url 'transaction' page=page_obj.next %}" aria-label="Previous">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>
        <li class="page-item {% if page_obj.page == page_obj.num_page %}disabled{% endif %}">
          <a class="page-link" href="{% url 'transaction' page=page_obj.num_page %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  {% endif %}

  <table class="table table-sm table-bordered" id="history">
      <tr class="table table-secondary">
        <td scope="col">#</td>
        <td scope="col">체결일시</td>
        <td scope="col">체결번호</td>
        <td scope="col">상품</td>
        <td scope="col">종류</td>
        <td scope="col">이베스트코드</td>
        <td scope="col">포지션</td>
        <td scope="col">체결가격</td>
        <td scope="col">수수료</td>
        <td scope="col">거래코드</td>
      </tr>
      {% for transaction in transactions %}
        <tr class="transaction" id="{{ transaction.id }}">
          <td>{{transaction.id}}</td>
          <td>{{transaction.date | date:"Y-m-d H:i"}}
          </td>
          <td>{{transaction.ebest_id}}
          </td>
          <td>{{transaction.instrument.name}}
          </td>
          <td>{{transaction.type}}
          </td>
          <td>{{transaction.ebest_code}}
          </td>
          <td>
            {% if transaction.position == 1 %}
              Long
            {% else %}
              Short
            {% endif %}
          </td>
          <td>
            {{transaction.price.normalize}}
          </td>
          <td>{{transaction.commission}}
          </td>
          <td>
            {% if transaction.trade %}
             {{ transaction.trade.id }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
  </table>

  <table class="table table-sm table-bordered" id="management">
        <tr>
          <td style='width:15%;background-color:#e9ecef;'> 체결기록 추가 </td>
          <td style='width:35%;' >
            <form action="{% url 'transaction' page=1 %}" method='post' enctype="multipart/form-data">
              {% csrf_token %}
              <input type="file" id="file" name="file" accept=".csv" required>
              <input type="submit">
            </form>
          </td>
          <td style='width:15%;background-color:#e9ecef;'> 거래내역 생성 </td>
          <td style='width:35%'>
            <input type='submit' value='생성'  onclick="location.href='{% url 'transaction' page=1%}?create_trades=true'"></td>
          </td>
        </tr>
    </table>
    <table class="table table-sm table-bordered">    
        <tr>
          <td style='background-color:#e9ecef;' colspan=4> 환율 ({{currencies.first.date |date:'Y년 m월 d일'}})</td>
          {% for currency in currencies %}
          <td>{{currency.symbol}} </td>
          <td>{{currency.rate |floatformat:2}} </td>
          {% endfor %}
        </tr>
        <tr> 
          <td colspan='100%'>
            <input type='submit' value='업데이트'  onclick="location.href='{% url 'transaction' page=1%}?currency=true'"></td>
         </tr>
  </table>
  <br>
{% endblock content2 %}
