{% extends "trading/base_trading.html"%}
{% load humanize %}
{% block trading %}

<div class="row" id="system">
  <div style="width: 100%;">
    <div id="profit-chart" style="margin: auto;"></div>
  </div>
  <div id="summary" style="width:100%; margin-top: 40px">
  <div style="float: right;"> 업데이트: {{record.date | date:"Y-m-d H:i"}}</div> 
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:25%">총자산</th>
          <th scope="col" style="width:25%">현금</th>
          <th scope="col" style="width:25%%">선물</th>
          <th scope="col" style="width:25%">주식</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ record.value | intcomma}}</td>
          <td>{{ cash| intcomma}}</td>
          <td>{{ futures | intcomma }}</td>
          <td>{{ stock | intcomma}}</td>
        </tr>
      </tbody>
    </table>
    
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:25%">원금</th>
          <th scope="col" style="width:25%">위험제거자산</th>
          <th scope="col" style="width:25%">수익</th>
          <th scope="col" style="width:25%">수익률</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ record.principal | intcomma}}</td>
          <td>{{ record.risk_excluded_value | intcomma }}</td>
          <td>{{ record.gross_profit | intcomma}}</td>
          <td>{{ record.rate_profit | floatformat:1 }} %</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:16.6%">리스크</th>
          <th scope="col" style="width:16.6%">리스크율</th>
          <th scope="col" style="width:16.6%">CAGR</th>
          <th scope="col" style="width:16.6%">변동성</th>
          <th scope="col" style="width:16.6%">자본인하율</th>
          <th scope="col" style="width:16.6%">MDD</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ record.risk | intcomma}}</td>
          <td>{{ record.rate_risk| floatformat:1}} %</td>
          <td>{{ record.cagr | floatformat:1 }} %</td>
          <td>{{ record.volatility | floatformat:1 }} %</td>
          <td>{{ record.drawdown | floatformat:1}} %</td>
          <td>{{ record.mdd | floatformat:1}} %</td>
        </tr>
      </tbody>
    </table>
  </div>
  </br>
  <div id="history" style="width:100%"></div>
</div>
{% endblock trading%}

{% block script %}
<script>

//차트 그리기
Highcharts.setOptions({
		lang: { thousandsSep: ',' }
});


var chart = Highcharts.chart('profit-chart', {
            legend: { enabled: false},
            chart: { animation: false},
            title: { text: '자산' },
            xAxis: { type: 'datetime' },
            yAxis: [{
                      title: {text:"자산(원)"},
                      opposite: true,
                      lables: {
                          formatter: function () {
                            return this.value / 1000000;
                          }
                      },
                      height: '80%',
                    },{
                        title: {text:"변동성(%)"},
                        top: '80%',
                        height: '20%',
                        offset: 0
            }],
            tooltip: {
              valueDecimals: 0,
              xDateFormat: '%Y-%m-%d',
              crosshairs: true,
              //split: true,
            },
            
            plotOptions: {
              series: {
                animation: false,
                marker: {enabled: false},
                states: {
                  inactive: { opacity: 1  }
                }
              },
              
            },
});

$.get( "{% url 'chart' account='A'  %}", function( data ) {
     value= [];
     r_value=[]; //리스크 제거 자산가치
     volatility=[] //평균변동성
     volatility_day=[] //일변동성
     principal = [] //원금
     for (item of data){
       date = new Date(item[0].slice(0,10)).getTime();
       value.push([date, parseInt(item[1])]);
       r_value.push([date,parseInt(item[2])]);
       volatility_day.push([date, parseInt(item[3])]);
       volatility.push([date, parseInt(item[4])]);
       principal.push([date, parseInt(item[5])]);
     }
     console.log(volatility)
     chart.addSeries({ 
       name: "자산",
       data: value,
       yAxis: 0,
       type: 'area',
       lineColor:'#ADD8E6',
       color: '#B0E0E6',
       //marker: { enabled: false},
       tooltip: { valueSuffix: ' 원'}
      });
     chart.addSeries({
       name: "위험제거자산",
       data: r_value,
       yAxis: 0,
       type:'area',
       color:'#FFFFE0',
       lineColor: '#ADD8E6',
       //marker: { enabled: false},
       tooltip: { valueSuffix: ' 원'}
     });
     chart.addSeries({ 
       name: "원금",
       data: principal,
       yAxis: 0,
       enableMouseTracking: false,
       dashStyle: 'dash',
       type: 'line',
       lineColor:'#808080',
       //marker: { enabled: false}
      });
     chart.addSeries({
       name: "일변동성",
       data: volatility_day,
       yAxis:1,
       type: 'column',
       color: 'black',
       //marker: { enabled: false}
     });
     chart.addSeries({
       name: "평균 변동성",
       data: volatility,
       yAxis:1,
       type: 'line',
       color: 'tomato',
       //marker: { enabled: false}
     });
});
</script>
{% endblock script %}