{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  {% block title %}<title>Trading</title>{% endblock %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  

  <!-- Add additional CSS in static file -->
  <link rel="shortcut icon" href="">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'css/trading.css' %}">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body class="container" style="max-width: 900px;">
  <nav class="navbar fixed-top bg-dark">
    <div style="width:100%">
    <ul class="nav" style="display:inline-flex">
      <li class="nav-item {% if activate == 'asset' %}active {% endif %}">
        <a class="nav-link" href="{% url 'asset'%}">Asset</a>
      </li>
      <li class="nav-item {% if activate == 'futures' %}active {% endif %}">
        <a class="nav-link" href="{% url 'futures' system=0 %}">Futures</a>
      </li>
      <li class="nav-item {% if activate == 'stock' %}active {% endif %}">
        <a class="nav-link" href="{% url 'stock' %}">Stock/ETF</a>
      </li>
      <li class="nav-item {% if activate == 'cash' %}active {% endif %}">
        <a class="nav-link" href="{% url 'cash' %}">Cash</a>
      </li>
       </ul>
       <div style="float:right;">
        <a class="btn btn-outline-success" href="/admin" target="_blank">Admin</a>
        <a class="btn btn-outline-success" href="/logout">Logout</a>
       </div>
    </div>
  </nav>
  <main role="main" class="container-fluid" style="margin-top:60px;">
    {% block content1 %}{% endblock content1 %}
    {% block content2 %}{% endblock content2 %}

  </main>
  <!-- css and js-->
  <script src="https://code.highcharts.com/highcharts.src.js"></script>

</body>
{% block script %}{% endblock script%}

</html>