{% extends "trading/base_trading.html"%}
{% load humanize %}
{% block trading %}

<div class="row" id="system">
  <div style="width:100%">
    <div id="profit-chart" style="max-width: 680px; margin: auto;"></div>
  </div>
  </br>
  <div id="summary" style="width:100%; margin-top: 40px">
  <div style="float: right;"> 업데이트: {{record.date | date:"Y-m-d H:i"}}</div> 
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width:25%">원화</th>
          <th scope="col" style="width:25%">위안화</th>
          <th scope="col" style="width:25%">달러</th>
          <th scope="col" style="width:25%">합계</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ account.krw | intcomma}}</td>
          <td>{{ account.cny| intcomma}}</td>
          <td>{{ account.usd | intcomma }}</td>
          <td>{{ account.total | intcomma}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </br>
  <div id="history" style="width:100%"></div>
</div>
{% endblock trading%}

{% block script %}
<script>
//차트 그리기
Highcharts.setOptions({
		lang: { thousandsSep: ',' }
});
var chart = Highcharts.chart('profit-chart', {
            legend: { enabled: false},
            title: { text: '현금' },
            xAxis: { 
                type: 'datetime',
            },
            yAxis: [{
                title: {text:"자산(원)"},
                lables: {
                  formatter: function () {
                        return this.value / 1000000;
                    }
                },
                
            }],
            tooltip: {
              valueDecimals: 0,
              valueSuffix: ' 원',
              xDateFormat: '%Y-%m-%d',
              crosshairs: true,
              //split: true,
            },
            plotOptions: {
              series: {
                animation: false,
                marker: {enabled: false},
                states: {
                  inactive: { opacity: 1  }
                }
              }
            }
        });

$.get( "{% url 'chart' account=record.account_symbol %}", function( data ) {
     value= [];
     r_value=[]; //리스크 제거 자산가치

     for (item of data){
       date = new Date(item[0].slice(0,10)).getTime();
       value.push([date, parseInt(item[1])]);
       r_value.push([date,parseInt(item[2])]);
     }

      chart.addSeries({ 
       name: "자산",
       data: value,
       yAxis: 0,
       tooltip: {valueSuffix: ' 원'},
       type: 'area',
       lineColor:'#ADD8E6',

       color: '#B0E0E6',
       //marker: { enabled: false}
      });
     chart.addSeries({
       name: "위험제거자산",
       data: r_value,
       yAxis: 0,
       tooltip: {valueSuffix: ' 원'},
       type:'area',
       color:'#FFFFE0',
       lineColor: '#ADD8E6',
       //marker: { enabled: false}
     });
});
</script>
{% endblock script %}
