{% extends "base.html"%}
{% load static %}
{% load humanize %}
{% block content1 %}
<div class="row">
  <div class='col-10'>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="grains" data-bs-toggle="dropdown">
                  Grains
                </button>
                <ul class="dropdown-menu" aria-labelledby="grains">
                  {% for k in itemlist.grains %}
                    <li><a class="dropdown-item" style="font-size:0.9em;cursor:pointer;" onclick="load_data('grains', '{{k}}')">{{k}}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="energies" data-bs-toggle="dropdown">
                  Energies
                </button>
                <ul class="dropdown-menu" aria-labelledby="energies">
                  {% for k in itemlist.energies %}
                    <li><a class="dropdown-item" style="font-size:0.9em;cursor:pointer;" onclick="load_data('energies', '{{k}}')">{{k}}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="metals" data-bs-toggle="dropdown">
                  Metals
                </button>
                <ul class="dropdown-menu" aria-labelledby="metals">
                  {% for k in itemlist.metals %}
                    <li><a class="dropdown-item" style="font-size:0.9em;cursor:pointer;" onclick="load_data('metals', '{{k}}')">{{k}}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="livestocks" data-bs-toggle="dropdown">
                  Live Stocks
                </button>
                <ul class="dropdown-menu" aria-labelledby="livestocks">
                  {% for k in itemlist.livestocks %}
                    <li><a class="dropdown-item" style="font-size:0.9em;cursor:pointer;" onclick="load_data('livestocks', '{{k}}')">{{k}}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="softs" data-bs-toggle="dropdown">
                  Softs
                </button>
                <ul class="dropdown-menu" aria-labelledby="softs">
                  {% for k in itemlist.softs %}
                    <li><a class="dropdown-item" style="font-size:0.9em;cursor:pointer;" onclick="load_data('softs', '{{k}}')">{{k}}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="currencies" data-bs-toggle="dropdown">
                  Currencies
                </button>
                <ul class="dropdown-menu" aria-labelledby="currencies">
                  {% for k in itemlist.currencies %}
                    <li><a class="dropdown-item" style="font-size:0.9em;cursor:pointer;" onclick="load_data('currencies', '{{k}}')">{{k}}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="indices" data-bs-toggle="dropdown">
                Indices
              </button>
              <ul class="dropdown-menu" aria-labelledby="indices">
                {% for k in itemlist.indices %}
                  <li><a class="dropdown-item" style="font-size:0.9em;cursor:pointer;" onclick="load_data('indices', '{{k}}')">{{k}}</a></li>
                {% endfor %}
              </ul>
          </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="rates" data-bs-toggle="dropdown">
              Rates
            </button>
            <ul class="dropdown-menu" aria-labelledby="rates">
              {% for k in itemlist.rates %}
                <li><a class="dropdown-item" style="font-size:0.9em;cursor:pointer;" onclick="load_data('rates', '{{k}}')">{{k}}</a></li>
              {% endfor %}
            </ul>
        </div>
    </li>
      </ul>
    </div>
    <div class='col-2' style='display:flex;align-items:center;'>
       <button style="height:30px;" onclick="update_data();"> Update </button>
    </div>
</div>
<div class="row">
    <h4 style="text-align:center;height:20px;" id='name'> </h4>
</div>
<div class="row" style='height:450px;'>
    <div class='col-4' id='legacy-futures-chart' style='height:450px;'></div>
    <div class='col-4' id='legacy-option-chart' style='height:450px;'></div>
    <div class='col-4'id='legacy-spread-chart' style='height:450px;'> </div>
</div>
<div class="row" style='height:500px;' id='disaggregated'>
    <div class='col-4' id='disaggregated-futures-chart' style='height:500px;'></div>
    <div class='col-4' id='disaggregated-option-chart' style='height:500px;'></div>
    <div class='col-4' id='disaggregated-spread-chart' style='height:500px;'></div>
</div>
<div class="row" style='height:500px;display:none;' id='financials'>
  <div class='col-4' id='financials-futures-chart' style='height:500px;'></div>
  <div class='col-4' id='financials-option-chart' style='height:500px;'></div>
  <div class='col-4' id='financials-spread-chart' style='height:500px;'></div>
</div>

<script type='text/javascript' src="{% static 'js/futures/cftc.js' %}"></script>
{% endblock %}